In [ ]:
import sys
import os

# Dynamically add the project root to sys.path
current_dir = os.getcwd()  # The directory where the notebook is located (notebooks/)
project_root = os.path.abspath(os.path.join(current_dir, '..'))  # Move up to the project root
if project_root not in sys.path:
    sys.path.append(project_root)
    
# Optional: Debugging to confirm paths
print(f"Current Directory: {current_dir}")
print(f"Project Root: {project_root}")
print(f"sys.path: {sys.path}")

import pandas as pd


# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)
df.columns.values[0] = 'Year'

In [1]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Identify the first column (which has a blank header)
first_column_name = df.columns[0]

# Step 3: Sort data by the first column in ascending order (alphabetically)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# Step 6: Diagnostic display before sorting
print("Step 6 - Diagnostic: DataFrame before sorting:")
display(df_transposed.head())

# Step 7: Sort the DataFrame by 'Sort' column in ascending order
df_transposed_sorted = df_transposed.sort_values(by='Sort', ascending=True)

# Diagnostic Display after sorting
print("Step 7 - Diagnostic: DataFrame after sorting:")
display(df_transposed_sorted.head())

# **Step 8: Clean up the DataFrame**

# Create a copy of the sorted DataFrame
df_final = df_transposed_sorted.copy()

# Drop the 'Sort' column as it's no longer needed
df_final.drop(columns=['Sort'], inplace=True)

# Assign a name to the index
df_final.index.name = 'Category'  # Set index name to 'Category'

# Final Diagnostic Display
print("Final DataFrame:")
display(df_final)

# Step 9: Save the final DataFrame to a CSV file
output_file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/processed/complete_balance_sheet.csv'
df_final.to_csv(output_file_path, index=True)  # Set index=True to keep the 'Category' index

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Line Item,Accounts Payable,Accounts Receivable,Accumulated Depreciation,Additional Paid In Capital,Allowance For Doubtful Accounts Receivable,Buildings And Improvements,Capital Lease Obligations,Capital Stock,Cash And Cash Equivalents,Cash Cash Equivalents And Short Term Investments,...,Tangible Book Value,Total Assets,Total Capitalization,Total Debt,Total Equity Gross Minority Interest,Total Liabilities Net Minority Interest,Total Non Current Assets,Total Non Current Liabilities Net Minority Interest,Working Capital,Sort
2023-12-31,"28,114,000,000","51,454,000,000","-42,862,000,000","19,130,000,000","-1,204,000,000","13,256,000,000","907,000,000","12,000,000","18,853,000,000","26,466,000,000",...,"59,445,000,000","273,064,000,000","147,059,000,000","122,648,000,000","68,307,000,000","204,757,000,000","171,446,000,000","110,312,000,000","7,173,000,000",5
2022-12-31,"27,486,000,000","46,956,000,000","-41,265,000,000","26,428,000,000","-1,129,000,000","11,461,000,000","967,000,000","14,000,000","19,153,000,000","31,303,000,000",...,"62,858,000,000","264,037,000,000","143,713,000,000","115,666,000,000","72,284,000,000","191,753,000,000","163,586,000,000","100,580,000,000","9,278,000,000",4
2021-12-31,"20,391,000,000","34,043,000,000","-40,780,000,000","27,061,000,000","-895,000,000","10,542,000,000","1,012,000,000","15,000,000","20,067,000,000","28,676,000,000",...,"54,671,000,000","244,718,000,000","135,403,000,000","110,391,000,000","65,815,000,000","178,903,000,000","162,615,000,000","104,495,000,000","7,695,000,000",3
2020-12-31,"19,928,000,000","34,244,000,000","-38,004,000,000","26,542,000,000","-1,226,000,000","9,671,000,000","969,000,000","14,000,000","19,992,000,000","29,038,000,000",...,"39,810,000,000","235,194,000,000","118,011,000,000","110,863,000,000","49,677,000,000","185,517,000,000","154,270,000,000","105,607,000,000","1,014,000,000",2
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

Step 6 - Diagnostic: DataFrame before sorting:

Line Item,Accounts Payable,Accounts Receivable,Accumulated Depreciation,Additional Paid In Capital,Allowance For Doubtful Accounts Receivable,Buildings And Improvements,Capital Lease Obligations,Capital Stock,Cash And Cash Equivalents,Cash Cash Equivalents And Short Term Investments,...,Tangible Book Value,Total Assets,Total Capitalization,Total Debt,Total Equity Gross Minority Interest,Total Liabilities Net Minority Interest,Total Non Current Assets,Total Non Current Liabilities Net Minority Interest,Working Capital,Sort
2023-12-31,"28,114,000,000","51,454,000,000","-42,862,000,000","19,130,000,000","-1,204,000,000","13,256,000,000","907,000,000","12,000,000","18,853,000,000","26,466,000,000",...,"59,445,000,000","273,064,000,000","147,059,000,000","122,648,000,000","68,307,000,000","204,757,000,000","171,446,000,000","110,312,000,000","7,173,000,000",5
2022-12-31,"27,486,000,000","46,956,000,000","-41,265,000,000","26,428,000,000","-1,129,000,000","11,461,000,000","967,000,000","14,000,000","19,153,000,000","31,303,000,000",...,"62,858,000,000","264,037,000,000","143,713,000,000","115,666,000,000","72,284,000,000","191,753,000,000","163,586,000,000","100,580,000,000","9,278,000,000",4
2021-12-31,"20,391,000,000","34,043,000,000","-40,780,000,000","27,061,000,000","-895,000,000","10,542,000,000","1,012,000,000","15,000,000","20,067,000,000","28,676,000,000",...,"54,671,000,000","244,718,000,000","135,403,000,000","110,391,000,000","65,815,000,000","178,903,000,000","162,615,000,000","104,495,000,000","7,695,000,000",3
2020-12-31,"19,928,000,000","34,244,000,000","-38,004,000,000","26,542,000,000","-1,226,000,000","9,671,000,000","969,000,000","14,000,000","19,992,000,000","29,038,000,000",...,"39,810,000,000","235,194,000,000","118,011,000,000","110,863,000,000","49,677,000,000","185,517,000,000","154,270,000,000","105,607,000,000","1,014,000,000",2
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

Step 7 - Diagnostic: DataFrame after sorting:

Line Item,Accounts Payable,Accounts Receivable,Accumulated Depreciation,Additional Paid In Capital,Allowance For Doubtful Accounts Receivable,Buildings And Improvements,Capital Lease Obligations,Capital Stock,Cash And Cash Equivalents,Cash Cash Equivalents And Short Term Investments,...,Tangible Book Value,Total Assets,Total Capitalization,Total Debt,Total Equity Gross Minority Interest,Total Liabilities Net Minority Interest,Total Non Current Assets,Total Non Current Liabilities Net Minority Interest,Working Capital,Sort
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2020-12-31,"19,928,000,000","34,244,000,000","-38,004,000,000","26,542,000,000","-1,226,000,000","9,671,000,000","969,000,000","14,000,000","19,992,000,000","29,038,000,000",...,"39,810,000,000","235,194,000,000","118,011,000,000","110,863,000,000","49,677,000,000","185,517,000,000","154,270,000,000","105,607,000,000","1,014,000,000",2
2021-12-31,"20,391,000,000","34,043,000,000","-40,780,000,000","27,061,000,000","-895,000,000","10,542,000,000","1,012,000,000","15,000,000","20,067,000,000","28,676,000,000",...,"54,671,000,000","244,718,000,000","135,403,000,000","110,391,000,000","65,815,000,000","178,903,000,000","162,615,000,000","104,495,000,000","7,695,000,000",3
2022-12-31,"27,486,000,000","46,956,000,000","-41,265,000,000","26,428,000,000","-1,129,000,000","11,461,000,000","967,000,000","14,000,000","19,153,000,000","31,303,000,000",...,"62,858,000,000","264,037,000,000","143,713,000,000","115,666,000,000","72,284,000,000","191,753,000,000","163,586,000,000","100,580,000,000","9,278,000,000",4
2023-12-31,"28,114,000,000","51,454,000,000","-42,862,000,000","19,130,000,000","-1,204,000,000","13,256,000,000","907,000,000","12,000,000","18,853,000,000","26,466,000,000",...,"59,445,000,000","273,064,000,000","147,059,000,000","122,648,000,000","68,307,000,000","204,757,000,000","171,446,000,000","110,312,000,000","7,173,000,000",5

Final DataFrame:

Line Item,Accounts Payable,Accounts Receivable,Accumulated Depreciation,Additional Paid In Capital,Allowance For Doubtful Accounts Receivable,Buildings And Improvements,Capital Lease Obligations,Capital Stock,Cash And Cash Equivalents,Cash Cash Equivalents And Short Term Investments,...,Stockholders Equity,Tangible Book Value,Total Assets,Total Capitalization,Total Debt,Total Equity Gross Minority Interest,Total Liabilities Net Minority Interest,Total Non Current Assets,Total Non Current Liabilities Net Minority Interest,Working Capital
Category,,,,,,,,,,,,,,,,,,,,,
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31,"19,928,000,000","34,244,000,000","-38,004,000,000","26,542,000,000","-1,226,000,000","9,671,000,000","969,000,000","14,000,000","19,992,000,000","29,038,000,000",...,"45,030,000,000","39,810,000,000","235,194,000,000","118,011,000,000","110,863,000,000","49,677,000,000","185,517,000,000","154,270,000,000","105,607,000,000","1,014,000,000"
2021-12-31,"20,391,000,000","34,043,000,000","-40,780,000,000","27,061,000,000","-895,000,000","10,542,000,000","1,012,000,000","15,000,000","20,067,000,000","28,676,000,000",...,"59,744,000,000","54,671,000,000","244,718,000,000","135,403,000,000","110,391,000,000","65,815,000,000","178,903,000,000","162,615,000,000","104,495,000,000","7,695,000,000"
2022-12-31,"27,486,000,000","46,956,000,000","-41,265,000,000","26,428,000,000","-1,129,000,000","11,461,000,000","967,000,000","14,000,000","19,153,000,000","31,303,000,000",...,"67,792,000,000","62,858,000,000","264,037,000,000","143,713,000,000","115,666,000,000","72,284,000,000","191,753,000,000","163,586,000,000","100,580,000,000","9,278,000,000"
2023-12-31,"28,114,000,000","51,454,000,000","-42,862,000,000","19,130,000,000","-1,204,000,000","13,256,000,000","907,000,000","12,000,000","18,853,000,000","26,466,000,000",...,"64,286,000,000","59,445,000,000","273,064,000,000","147,059,000,000","122,648,000,000","68,307,000,000","204,757,000,000","171,446,000,000","110,312,000,000","7,173,000,000"

In [4]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

def main():
    # Step 1: Load the data
    file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
    df = pd.read_csv(file_path)

    # Step 2: Identify the first column (which has a blank header)
    first_column_name = df.columns[0]

    # Step 3: Sort data by the first column in ascending order (alphabetically)
    df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

    # Step 4: Transpose the sorted DataFrame
    df_transposed = df.set_index(first_column_name).T

    # Step 5: Add a helper column with incremental values for sorting
    df_transposed['Sort'] = range(len(df_transposed), 0, -1)

    # Diagnostic Display to check the structure after adding 'Sort'
    print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
    print(df_transposed.head())

    # Step 6: Diagnostic display before sorting
    print("\nStep 6 - Diagnostic: DataFrame before sorting:")
    print(df_transposed.head())

    # Step 7: Sort the DataFrame by 'Sort' column in ascending order
    df_transposed_sorted = df_transposed.sort_values(by='Sort', ascending=True)

    # Diagnostic Display after sorting
    print("\nStep 7 - Diagnostic: DataFrame after sorting:")
    print(df_transposed_sorted.head())

    # **Step 8: Clean up the DataFrame**

    # Create a copy of the sorted DataFrame
    df_final = df_transposed_sorted.copy()

    # Drop the 'Sort' column as it's no longer needed
    df_final.drop(columns=['Sort'], inplace=True)

    # Assign a name to the index
    df_final.index.name = 'Category'  # Set index name to 'Category'

    # Final Diagnostic Display
    print("\nFinal DataFrame:")
    print(df_final.head())

    # Step 9: Save the final DataFrame to a CSV file
    output_file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/processed/complete_balance_sheet.csv'
    df_final.to_csv(output_file_path, index=True)  # Set index=True to keep the 'Category' index

if __name__ == "__main__":
    main()

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:
Line Item   Accounts Payable  Accounts Receivable  Accumulated Depreciation  \
2023-12-31    28,114,000,000       51,454,000,000           -42,862,000,000
2022-12-31    27,486,000,000       46,956,000,000           -41,265,000,000
2021-12-31    20,391,000,000       34,043,000,000           -40,780,000,000
2020-12-31    19,928,000,000       34,244,000,000           -38,004,000,000
2019-12-31               NaN                  NaN                       NaN

Line Item   Additional Paid In Capital  \
2023-12-31              19,130,000,000
2022-12-31              26,428,000,000
2021-12-31              27,061,000,000
2020-12-31              26,542,000,000
2019-12-31                         NaN

Line Item   Allowance For Doubtful Accounts Receivable  \
2023-12-31                              -1,204,000,000
2022-12-31                              -1,129,000,000
2021-12-31                                -895,000,000
2020-12-31                              -1,226,000,000
2019-12-31                                         NaN

Line Item   Buildings And Improvements  Capital Lease Obligations  \
2023-12-31              13,256,000,000                907,000,000
2022-12-31              11,461,000,000                967,000,000
2021-12-31              10,542,000,000              1,012,000,000
2020-12-31               9,671,000,000                969,000,000
2019-12-31                         NaN                        NaN

Line Item   Capital Stock  Cash And Cash Equivalents  \
2023-12-31     12,000,000             18,853,000,000
2022-12-31     14,000,000             19,153,000,000
2021-12-31     15,000,000             20,067,000,000
2020-12-31     14,000,000             19,992,000,000
2019-12-31            NaN                        NaN

Line Item   Cash Cash Equivalents And Short Term Investments  ...  \
2023-12-31                                    26,466,000,000  ...
2022-12-31                                    31,303,000,000  ...
2021-12-31                                    28,676,000,000  ...
2020-12-31                                    29,038,000,000  ...
2019-12-31                                               NaN  ...

Line Item   Tangible Book Value    Total Assets  Total Capitalization  \
2023-12-31       59,445,000,000 273,064,000,000       147,059,000,000
2022-12-31       62,858,000,000 264,037,000,000       143,713,000,000
2021-12-31       54,671,000,000 244,718,000,000       135,403,000,000
2020-12-31       39,810,000,000 235,194,000,000       118,011,000,000
2019-12-31                  NaN             NaN                   NaN

Line Item       Total Debt  Total Equity Gross Minority Interest  \
2023-12-31 122,648,000,000                        68,307,000,000
2022-12-31 115,666,000,000                        72,284,000,000
2021-12-31 110,391,000,000                        65,815,000,000
2020-12-31 110,863,000,000                        49,677,000,000
2019-12-31             NaN                                   NaN

Line Item   Total Liabilities Net Minority Interest  Total Non Current Assets  \
2023-12-31                          204,757,000,000           171,446,000,000
2022-12-31                          191,753,000,000           163,586,000,000
2021-12-31                          178,903,000,000           162,615,000,000
2020-12-31                          185,517,000,000           154,270,000,000
2019-12-31                                      NaN                       NaN

Line Item   Total Non Current Liabilities Net Minority Interest  \
2023-12-31                                    110,312,000,000
2022-12-31                                    100,580,000,000
2021-12-31                                    104,495,000,000
2020-12-31                                    105,607,000,000
2019-12-31                                                NaN

Line Item   Working Capital  Sort
2023-12-31    7,173,000,000     5
2022-12-31    9,278,000,000     4
2021-12-31    7,695,000,000     3
2020-12-31    1,014,000,000     2
2019-12-31              NaN     1

[5 rows x 80 columns]

Step 6 - Diagnostic: DataFrame before sorting:
Line Item   Accounts Payable  Accounts Receivable  Accumulated Depreciation  \
2023-12-31    28,114,000,000       51,454,000,000           -42,862,000,000
2022-12-31    27,486,000,000       46,956,000,000           -41,265,000,000
2021-12-31    20,391,000,000       34,043,000,000           -40,780,000,000
2020-12-31    19,928,000,000       34,244,000,000           -38,004,000,000
2019-12-31               NaN                  NaN                       NaN

Line Item   Additional Paid In Capital  \
2023-12-31              19,130,000,000
2022-12-31              26,428,000,000
2021-12-31              27,061,000,000
2020-12-31              26,542,000,000
2019-12-31                         NaN

Line Item   Allowance For Doubtful Accounts Receivable  \
2023-12-31                              -1,204,000,000
2022-12-31                              -1,129,000,000
2021-12-31                                -895,000,000
2020-12-31                              -1,226,000,000
2019-12-31                                         NaN

Line Item   Buildings And Improvements  Capital Lease Obligations  \
2023-12-31              13,256,000,000                907,000,000
2022-12-31              11,461,000,000                967,000,000
2021-12-31              10,542,000,000              1,012,000,000
2020-12-31               9,671,000,000                969,000,000
2019-12-31                         NaN                        NaN

Line Item   Capital Stock  Cash And Cash Equivalents  \
2023-12-31     12,000,000             18,853,000,000
2022-12-31     14,000,000             19,153,000,000
2021-12-31     15,000,000             20,067,000,000
2020-12-31     14,000,000             19,992,000,000
2019-12-31            NaN                        NaN

Line Item   Cash Cash Equivalents And Short Term Investments  ...  \
2023-12-31                                    26,466,000,000  ...
2022-12-31                                    31,303,000,000  ...
2021-12-31                                    28,676,000,000  ...
2020-12-31                                    29,038,000,000  ...
2019-12-31                                               NaN  ...

Line Item   Tangible Book Value    Total Assets  Total Capitalization  \
2023-12-31       59,445,000,000 273,064,000,000       147,059,000,000
2022-12-31       62,858,000,000 264,037,000,000       143,713,000,000
2021-12-31       54,671,000,000 244,718,000,000       135,403,000,000
2020-12-31       39,810,000,000 235,194,000,000       118,011,000,000
2019-12-31                  NaN             NaN                   NaN

Line Item       Total Debt  Total Equity Gross Minority Interest  \
2023-12-31 122,648,000,000                        68,307,000,000
2022-12-31 115,666,000,000                        72,284,000,000
2021-12-31 110,391,000,000                        65,815,000,000
2020-12-31 110,863,000,000                        49,677,000,000
2019-12-31             NaN                                   NaN

Line Item   Total Liabilities Net Minority Interest  Total Non Current Assets  \
2023-12-31                          204,757,000,000           171,446,000,000
2022-12-31                          191,753,000,000           163,586,000,000
2021-12-31                          178,903,000,000           162,615,000,000
2020-12-31                          185,517,000,000           154,270,000,000
2019-12-31                                      NaN                       NaN

Line Item   Total Non Current Liabilities Net Minority Interest  \
2023-12-31                                    110,312,000,000
2022-12-31                                    100,580,000,000
2021-12-31                                    104,495,000,000
2020-12-31                                    105,607,000,000
2019-12-31                                                NaN

Line Item   Working Capital  Sort
2023-12-31    7,173,000,000     5
2022-12-31    9,278,000,000     4
2021-12-31    7,695,000,000     3
2020-12-31    1,014,000,000     2
2019-12-31              NaN     1

[5 rows x 80 columns]

Step 7 - Diagnostic: DataFrame after sorting:
Line Item   Accounts Payable  Accounts Receivable  Accumulated Depreciation  \
2019-12-31               NaN                  NaN                       NaN
2020-12-31    19,928,000,000       34,244,000,000           -38,004,000,000
2021-12-31    20,391,000,000       34,043,000,000           -40,780,000,000
2022-12-31    27,486,000,000       46,956,000,000           -41,265,000,000
2023-12-31    28,114,000,000       51,454,000,000           -42,862,000,000

Line Item   Additional Paid In Capital  \
2019-12-31                         NaN
2020-12-31              26,542,000,000
2021-12-31              27,061,000,000
2022-12-31              26,428,000,000
2023-12-31              19,130,000,000

Line Item   Allowance For Doubtful Accounts Receivable  \
2019-12-31                                         NaN
2020-12-31                              -1,226,000,000
2021-12-31                                -895,000,000
2022-12-31                              -1,129,000,000
2023-12-31                              -1,204,000,000

Line Item   Buildings And Improvements  Capital Lease Obligations  \
2019-12-31                         NaN                        NaN
2020-12-31               9,671,000,000                969,000,000
2021-12-31              10,542,000,000              1,012,000,000
2022-12-31              11,461,000,000                967,000,000
2023-12-31              13,256,000,000                907,000,000

Line Item   Capital Stock  Cash And Cash Equivalents  \
2019-12-31            NaN                        NaN
2020-12-31     14,000,000             19,992,000,000
2021-12-31     15,000,000             20,067,000,000
2022-12-31     14,000,000             19,153,000,000
2023-12-31     12,000,000             18,853,000,000

Line Item   Cash Cash Equivalents And Short Term Investments  ...  \
2019-12-31                                               NaN  ...
2020-12-31                                    29,038,000,000  ...
2021-12-31                                    28,676,000,000  ...
2022-12-31                                    31,303,000,000  ...
2023-12-31                                    26,466,000,000  ...

Line Item   Tangible Book Value    Total Assets  Total Capitalization  \
2019-12-31                  NaN             NaN                   NaN
2020-12-31       39,810,000,000 235,194,000,000       118,011,000,000
2021-12-31       54,671,000,000 244,718,000,000       135,403,000,000
2022-12-31       62,858,000,000 264,037,000,000       143,713,000,000
2023-12-31       59,445,000,000 273,064,000,000       147,059,000,000

Line Item       Total Debt  Total Equity Gross Minority Interest  \
2019-12-31             NaN                                   NaN
2020-12-31 110,863,000,000                        49,677,000,000
2021-12-31 110,391,000,000                        65,815,000,000
2022-12-31 115,666,000,000                        72,284,000,000
2023-12-31 122,648,000,000                        68,307,000,000

Line Item   Total Liabilities Net Minority Interest  Total Non Current Assets  \
2019-12-31                                      NaN                       NaN
2020-12-31                          185,517,000,000           154,270,000,000
2021-12-31                          178,903,000,000           162,615,000,000
2022-12-31                          191,753,000,000           163,586,000,000
2023-12-31                          204,757,000,000           171,446,000,000

Line Item   Total Non Current Liabilities Net Minority Interest  \
2019-12-31                                                NaN
2020-12-31                                    105,607,000,000
2021-12-31                                    104,495,000,000
2022-12-31                                    100,580,000,000
2023-12-31                                    110,312,000,000

Line Item   Working Capital  Sort
2019-12-31              NaN     1
2020-12-31    1,014,000,000     2
2021-12-31    7,695,000,000     3
2022-12-31    9,278,000,000     4
2023-12-31    7,173,000,000     5

[5 rows x 80 columns]

Final DataFrame:
Line Item   Accounts Payable  Accounts Receivable  Accumulated Depreciation  \
Category
2019-12-31               NaN                  NaN                       NaN
2020-12-31    19,928,000,000       34,244,000,000           -38,004,000,000
2021-12-31    20,391,000,000       34,043,000,000           -40,780,000,000
2022-12-31    27,486,000,000       46,956,000,000           -41,265,000,000
2023-12-31    28,114,000,000       51,454,000,000           -42,862,000,000

Line Item   Additional Paid In Capital  \
Category
2019-12-31                         NaN
2020-12-31              26,542,000,000
2021-12-31              27,061,000,000
2022-12-31              26,428,000,000
2023-12-31              19,130,000,000

Line Item   Allowance For Doubtful Accounts Receivable  \
Category
2019-12-31                                         NaN
2020-12-31                              -1,226,000,000
2021-12-31                                -895,000,000
2022-12-31                              -1,129,000,000
2023-12-31                              -1,204,000,000

Line Item   Buildings And Improvements  Capital Lease Obligations  \
Category
2019-12-31                         NaN                        NaN
2020-12-31               9,671,000,000                969,000,000
2021-12-31              10,542,000,000              1,012,000,000
2022-12-31              11,461,000,000                967,000,000
2023-12-31              13,256,000,000                907,000,000

Line Item   Capital Stock  Cash And Cash Equivalents  \
Category
2019-12-31            NaN                        NaN
2020-12-31     14,000,000             19,992,000,000
2021-12-31     15,000,000             20,067,000,000
2022-12-31     14,000,000             19,153,000,000
2023-12-31     12,000,000             18,853,000,000

Line Item   Cash Cash Equivalents And Short Term Investments  ...  \
Category                                                      ...
2019-12-31                                               NaN  ...
2020-12-31                                    29,038,000,000  ...
2021-12-31                                    28,676,000,000  ...
2022-12-31                                    31,303,000,000  ...
2023-12-31                                    26,466,000,000  ...

Line Item   Stockholders Equity  Tangible Book Value    Total Assets  \
Category
2019-12-31                  NaN                  NaN             NaN
2020-12-31       45,030,000,000       39,810,000,000 235,194,000,000
2021-12-31       59,744,000,000       54,671,000,000 244,718,000,000
2022-12-31       67,792,000,000       62,858,000,000 264,037,000,000
2023-12-31       64,286,000,000       59,445,000,000 273,064,000,000

Line Item   Total Capitalization      Total Debt  \
Category
2019-12-31                   NaN             NaN
2020-12-31       118,011,000,000 110,863,000,000
2021-12-31       135,403,000,000 110,391,000,000
2022-12-31       143,713,000,000 115,666,000,000
2023-12-31       147,059,000,000 122,648,000,000

Line Item   Total Equity Gross Minority Interest  \
Category
2019-12-31                                   NaN
2020-12-31                        49,677,000,000
2021-12-31                        65,815,000,000
2022-12-31                        72,284,000,000
2023-12-31                        68,307,000,000

Line Item   Total Liabilities Net Minority Interest  Total Non Current Assets  \
Category
2019-12-31                                      NaN                       NaN
2020-12-31                          185,517,000,000           154,270,000,000
2021-12-31                          178,903,000,000           162,615,000,000
2022-12-31                          191,753,000,000           163,586,000,000
2023-12-31                          204,757,000,000           171,446,000,000

Line Item   Total Non Current Liabilities Net Minority Interest  \
Category
2019-12-31                                                NaN
2020-12-31                                    105,607,000,000
2021-12-31                                    104,495,000,000
2022-12-31                                    100,580,000,000
2023-12-31                                    110,312,000,000

Line Item   Working Capital
Category
2019-12-31              NaN
2020-12-31    1,014,000,000
2021-12-31    7,695,000,000
2022-12-31    9,278,000,000
2023-12-31    7,173,000,000

[5 rows x 79 columns]

In [3]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Identify the first column (which has a blank header)
first_column_name = df.columns[0]

# Step 3: Sort data by the first column in ascending order (alphabetically)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# Step 6: Diagnostic display before sorting
print("Step 6 - Diagnostic: DataFrame before sorting:")
display(df_transposed.head())

# Step 7: Sort the DataFrame by 'Sort' column in ascending order
df_transposed_sorted = df_transposed.sort_values(by='Sort', ascending=True)

# Diagnostic Display after sorting
print("Step 7 - Diagnostic: DataFrame after sorting:")
display(df_transposed_sorted.head())

# **Step 8: Clean up the DataFrame and Transpose Back**

# Drop the 'Sort' column as it's no longer needed
df_transposed_sorted.drop(columns=['Sort'], inplace=True)

# **Transpose back to have financial categories as index**
df_final = df_transposed_sorted.T

# **Assign a name to the index**
df_final.index.name = 'Category'  # Set index name to 'Category'

# Final Diagnostic Display
print("Final DataFrame:")
display(df_final)

# Step 9: Save the final DataFrame to a CSV file
output_file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/processed/complete_balance_sheet.csv'
df_final.to_csv(output_file_path, index=True)  # Set index=True to keep the 'Category' index

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Line Item,Accounts Payable,Accounts Receivable,Accumulated Depreciation,Additional Paid In Capital,Allowance For Doubtful Accounts Receivable,Buildings And Improvements,Capital Lease Obligations,Capital Stock,Cash And Cash Equivalents,Cash Cash Equivalents And Short Term Investments,...,Tangible Book Value,Total Assets,Total Capitalization,Total Debt,Total Equity Gross Minority Interest,Total Liabilities Net Minority Interest,Total Non Current Assets,Total Non Current Liabilities Net Minority Interest,Working Capital,Sort
2023-12-31,"28,114,000,000","51,454,000,000","-42,862,000,000","19,130,000,000","-1,204,000,000","13,256,000,000","907,000,000","12,000,000","18,853,000,000","26,466,000,000",...,"59,445,000,000","273,064,000,000","147,059,000,000","122,648,000,000","68,307,000,000","204,757,000,000","171,446,000,000","110,312,000,000","7,173,000,000",5
2022-12-31,"27,486,000,000","46,956,000,000","-41,265,000,000","26,428,000,000","-1,129,000,000","11,461,000,000","967,000,000","14,000,000","19,153,000,000","31,303,000,000",...,"62,858,000,000","264,037,000,000","143,713,000,000","115,666,000,000","72,284,000,000","191,753,000,000","163,586,000,000","100,580,000,000","9,278,000,000",4
2021-12-31,"20,391,000,000","34,043,000,000","-40,780,000,000","27,061,000,000","-895,000,000","10,542,000,000","1,012,000,000","15,000,000","20,067,000,000","28,676,000,000",...,"54,671,000,000","244,718,000,000","135,403,000,000","110,391,000,000","65,815,000,000","178,903,000,000","162,615,000,000","104,495,000,000","7,695,000,000",3
2020-12-31,"19,928,000,000","34,244,000,000","-38,004,000,000","26,542,000,000","-1,226,000,000","9,671,000,000","969,000,000","14,000,000","19,992,000,000","29,038,000,000",...,"39,810,000,000","235,194,000,000","118,011,000,000","110,863,000,000","49,677,000,000","185,517,000,000","154,270,000,000","105,607,000,000","1,014,000,000",2
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

Step 6 - Diagnostic: DataFrame before sorting:

Line Item,Accounts Payable,Accounts Receivable,Accumulated Depreciation,Additional Paid In Capital,Allowance For Doubtful Accounts Receivable,Buildings And Improvements,Capital Lease Obligations,Capital Stock,Cash And Cash Equivalents,Cash Cash Equivalents And Short Term Investments,...,Tangible Book Value,Total Assets,Total Capitalization,Total Debt,Total Equity Gross Minority Interest,Total Liabilities Net Minority Interest,Total Non Current Assets,Total Non Current Liabilities Net Minority Interest,Working Capital,Sort
2023-12-31,"28,114,000,000","51,454,000,000","-42,862,000,000","19,130,000,000","-1,204,000,000","13,256,000,000","907,000,000","12,000,000","18,853,000,000","26,466,000,000",...,"59,445,000,000","273,064,000,000","147,059,000,000","122,648,000,000","68,307,000,000","204,757,000,000","171,446,000,000","110,312,000,000","7,173,000,000",5
2022-12-31,"27,486,000,000","46,956,000,000","-41,265,000,000","26,428,000,000","-1,129,000,000","11,461,000,000","967,000,000","14,000,000","19,153,000,000","31,303,000,000",...,"62,858,000,000","264,037,000,000","143,713,000,000","115,666,000,000","72,284,000,000","191,753,000,000","163,586,000,000","100,580,000,000","9,278,000,000",4
2021-12-31,"20,391,000,000","34,043,000,000","-40,780,000,000","27,061,000,000","-895,000,000","10,542,000,000","1,012,000,000","15,000,000","20,067,000,000","28,676,000,000",...,"54,671,000,000","244,718,000,000","135,403,000,000","110,391,000,000","65,815,000,000","178,903,000,000","162,615,000,000","104,495,000,000","7,695,000,000",3
2020-12-31,"19,928,000,000","34,244,000,000","-38,004,000,000","26,542,000,000","-1,226,000,000","9,671,000,000","969,000,000","14,000,000","19,992,000,000","29,038,000,000",...,"39,810,000,000","235,194,000,000","118,011,000,000","110,863,000,000","49,677,000,000","185,517,000,000","154,270,000,000","105,607,000,000","1,014,000,000",2
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

Step 7 - Diagnostic: DataFrame after sorting:

Line Item,Accounts Payable,Accounts Receivable,Accumulated Depreciation,Additional Paid In Capital,Allowance For Doubtful Accounts Receivable,Buildings And Improvements,Capital Lease Obligations,Capital Stock,Cash And Cash Equivalents,Cash Cash Equivalents And Short Term Investments,...,Tangible Book Value,Total Assets,Total Capitalization,Total Debt,Total Equity Gross Minority Interest,Total Liabilities Net Minority Interest,Total Non Current Assets,Total Non Current Liabilities Net Minority Interest,Working Capital,Sort
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2020-12-31,"19,928,000,000","34,244,000,000","-38,004,000,000","26,542,000,000","-1,226,000,000","9,671,000,000","969,000,000","14,000,000","19,992,000,000","29,038,000,000",...,"39,810,000,000","235,194,000,000","118,011,000,000","110,863,000,000","49,677,000,000","185,517,000,000","154,270,000,000","105,607,000,000","1,014,000,000",2
2021-12-31,"20,391,000,000","34,043,000,000","-40,780,000,000","27,061,000,000","-895,000,000","10,542,000,000","1,012,000,000","15,000,000","20,067,000,000","28,676,000,000",...,"54,671,000,000","244,718,000,000","135,403,000,000","110,391,000,000","65,815,000,000","178,903,000,000","162,615,000,000","104,495,000,000","7,695,000,000",3
2022-12-31,"27,486,000,000","46,956,000,000","-41,265,000,000","26,428,000,000","-1,129,000,000","11,461,000,000","967,000,000","14,000,000","19,153,000,000","31,303,000,000",...,"62,858,000,000","264,037,000,000","143,713,000,000","115,666,000,000","72,284,000,000","191,753,000,000","163,586,000,000","100,580,000,000","9,278,000,000",4
2023-12-31,"28,114,000,000","51,454,000,000","-42,862,000,000","19,130,000,000","-1,204,000,000","13,256,000,000","907,000,000","12,000,000","18,853,000,000","26,466,000,000",...,"59,445,000,000","273,064,000,000","147,059,000,000","122,648,000,000","68,307,000,000","204,757,000,000","171,446,000,000","110,312,000,000","7,173,000,000",5

Final DataFrame:

,2019-12-31,2020-12-31,2021-12-31,2022-12-31,2023-12-31
Category,,,,,
Accounts Payable,NaN,"19,928,000,000","20,391,000,000","27,486,000,000","28,114,000,000"
Accounts Receivable,NaN,"34,244,000,000","34,043,000,000","46,956,000,000","51,454,000,000"
Accumulated Depreciation,NaN,"-38,004,000,000","-40,780,000,000","-41,265,000,000","-42,862,000,000"
Additional Paid In Capital,NaN,"26,542,000,000","27,061,000,000","26,428,000,000","19,130,000,000"
Allowance For Doubtful Accounts Receivable,NaN,"-1,226,000,000","-895,000,000","-1,129,000,000","-1,204,000,000"
...,...,...,...,...,...
Total Equity Gross Minority Interest,NaN,"49,677,000,000","65,815,000,000","72,284,000,000","68,307,000,000"
Total Liabilities Net Minority Interest,NaN,"185,517,000,000","178,903,000,000","191,753,000,000","204,757,000,000"
Total Non Current Assets,NaN,"154,270,000,000","162,615,000,000","163,586,000,000","171,446,000,000"
Total Non Current Liabilities Net Minority Interest,NaN,"105,607,000,000","104,495,000,000","100,580,000,000","110,312,000,000"
Working Capital,NaN,"1,014,000,000","7,695,000,000","9,278,000,000","7,173,000,000"

In [ ]:
import pandas as pd
from tabulate import tabulate
import os

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

def transform_financial_statement(statement_type):
    # Define file paths
    input_file = f'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/{statement_type}.csv'
    output_file = f'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/processed/processed_{statement_type}.csv'

    # Step 1: Load the data
    df = pd.read_csv(input_file)

    # Step 2: Identify the first column (which has a blank header)
    first_column_name = df.columns[0]

    # Step 3: Sort data by the first column in ascending order (alphabetically)
    df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

    # Step 4: Transpose the sorted DataFrame
    df_transposed = df.set_index(first_column_name).T

    # Step 5: Add a helper column with incremental values for sorting
    df_transposed['Sort'] = range(len(df_transposed), 0, -1)

    # Diagnostic Display to check the structure after adding 'Sort'
    print(f"{statement_type.title()} - Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
    print(tabulate(df_transposed.head(), headers='keys', tablefmt='psql'))

    # Step 6: Diagnostic display before sorting
    print(f"\n{statement_type.title()} - Step 6 - Diagnostic: DataFrame before sorting:")
    print(tabulate(df_transposed.head(), headers='keys', tablefmt='psql'))

    # Step 7: Sort the DataFrame by 'Sort' column in ascending order
    df_transposed_sorted = df_transposed.sort_values(by='Sort', ascending=True)

    # Diagnostic Display after sorting
    print(f"\n{statement_type.title()} - Step 7 - Diagnostic: DataFrame after sorting:")
    print(tabulate(df_transposed_sorted.head(), headers='keys', tablefmt='psql'))

    # **Step 8: Clean up the DataFrame**

    # Create a copy of the sorted DataFrame
    df_final = df_transposed_sorted.copy()

    # Drop the 'Sort' column as it's no longer needed
    df_final.drop(columns=['Sort'], inplace=True)

    # Assign a name to the index
    df_final.index.name = 'Category'  # Set index name to 'Category'

    # Final Diagnostic Display
    print(f"\n{statement_type.title()} - Final DataFrame:")
    print(tabulate(df_final.head(), headers='keys', tablefmt='psql'))

    # Step 9: Save the final DataFrame to a CSV file
    df_final.to_csv(output_file, index=True)  # Set index=True to keep the 'Category' index

    print(f"\n{statement_type.title()} transformation completed. Output saved to {output_file}")

if __name__ == "__main__":
    # List of financial statements to process
    statements = ['balance_sheet', 'income_statement', 'cash_flow']

    for statement in statements:
        transform_financial_statement(statement)

Balance_Sheet - Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

NameError: name 'tabulate' is not defined

In [ ]:
# Step 2: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

In [70]:
# Step 3: Transpose the sorted DataFrame
df_transposed = df.set_index('Year').T

In [71]:
# Step 4: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(1, len(df_transposed) + 1)

In [72]:
# Step 5: Reorder the columns to place 'Sort' at the beginning if needed
cols = ['Sort'] + [col for col in df_transposed.columns if col != 'Sort']
df_final = df_transposed[cols]

In [76]:
# Step 6: Sort by 'Sort' column in descending order and reset the index
df_final = df_final.sort_values(by='Sort', ascending=False).reset_index(drop=True)

In [ ]:
# Step 7: Remove the 'Sort' column from the final display
df_final = df_final.drop(columns=['Sort'])

# Display final DataFrame
display(df_final)  # Use 'display' in Jupyter; use 'print' in other environments

In [90]:
import pandas as pd


# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)
df.columns.values[0] = 'Year'

# Step 2: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 3: Transpose the sorted DataFrame
df_transposed = df.set_index('Year').T

# Step 4: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(1, len(df_transposed) + 1)

# Step 5: Reorder the columns to place 'Sort' at the beginning if needed
cols = ['Sort'] + [col for col in df_transposed.columns if col != 'Sort']
df_final = df_transposed[cols]

# Step 6: Sort by 'Sort' column in descending order and reset the index
df_final = df_final.sort_values(by='Sort', ascending=False).reset_index(drop=True)

# Step 7: Remove the 'Sort' column from the final display
df_final = df_final.drop(columns=['Sort'])

# Display final DataFrame
display(df_final)  # Use 'display' in Jupyter; use 'print' in other environments

Year      2020-12-31      2021-12-31      2022-12-31      2023-12-31
0      8,010,000,000   7,881,000,000   8,921,000,000   8,977,000,000
1     11,982,000,000  12,186,000,000  10,231,000,000   9,875,000,000
2     19,992,000,000  20,067,000,000  19,153,000,000  18,853,000,000
3      9,046,000,000   8,609,000,000  12,150,000,000   7,613,000,000
4     29,038,000,000  28,676,000,000  31,303,000,000  26,466,000,000
..               ...             ...             ...             ...
74    39,810,000,000  54,671,000,000  62,858,000,000  59,445,000,000
75   110,863,000,000 110,391,000,000 115,666,000,000 122,648,000,000
76    89,902,000,000  89,312,000,000  95,546,000,000 102,888,000,000
77     1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
78     1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000

[79 rows x 4 columns]

In [83]:
import pandas as pd

# Define the file path
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'  # Replace with your actual file path
df = pd.read_csv(file_path)

# Step 1: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 2: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 3: Transpose the sorted DataFrame
df_transposed = df.set_index('Year').T  # Set 'Year' as index and transpose

In [85]:
# Step 4: Add a helper column after transposing for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)  # Add descending incremental numbers for Sort

# Reorder the columns to place 'Sort' at the beginning if needed
cols = ['Sort'] + [col for col in df_transposed.columns if col != 'Sort']
df_final = df_transposed[cols]  # Reorder columns with 'Sort' as the first column

In [ ]:
# Step 5: Format all numeric values to avoid scientific notation
pd.options.display.float_format = '{:,.0f}'.format  # Format numbers with comma and no decimal places

# Step 6: Sort by the helper column 'Sort' in descending order
df_final = df_final.sort_values(by='Sort', ascending=False).reset_index(drop=True)

# Display the final DataFrame
display(df_final)

In [91]:
import pandas as pd

# Define the file path
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'  # Replace with your actual file path
df = pd.read_csv(file_path)

# Step 1: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 2: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 3: Transpose the sorted DataFrame
df_transposed = df.set_index('Year').T  # Set 'Year' as index and transpose

# Step 4: Add a helper column after transposing for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)  # Add descending incremental numbers for Sort

# Reorder the columns to place 'Sort' at the beginning if needed
cols = ['Sort'] + [col for col in df_transposed.columns if col != 'Sort']
df_final = df_transposed[cols]  # Reorder columns with 'Sort' as the first column

# Step 5: Format all numeric values to avoid scientific notation
pd.options.display.float_format = '{:,.0f}'.format  # Format numbers with comma and no decimal places

# Step 6: Sort by the helper column 'Sort' in descending order
df_final = df_final.sort_values(by='Sort', ascending=False).reset_index(drop=True)

# Display the final DataFrame
display(df_final)

Year  Sort      2020-12-31      2021-12-31      2022-12-31      2023-12-31
0       79   1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
1       78   1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
2       77  89,902,000,000  89,312,000,000  95,546,000,000 102,888,000,000
3       76 110,863,000,000 110,391,000,000 115,666,000,000 122,648,000,000
4       75  39,810,000,000  54,671,000,000  62,858,000,000  59,445,000,000
..     ...             ...             ...             ...             ...
74       5  29,038,000,000  28,676,000,000  31,303,000,000  26,466,000,000
75       4   9,046,000,000   8,609,000,000  12,150,000,000   7,613,000,000
76       3  19,992,000,000  20,067,000,000  19,153,000,000  18,853,000,000
77       2  11,982,000,000  12,186,000,000  10,231,000,000   9,875,000,000
78       1   8,010,000,000   7,881,000,000   8,921,000,000   8,977,000,000

[79 rows x 5 columns]

In [93]:
import pandas as pd

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 2: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 3: Transpose the sorted DataFrame
df_transposed = df.set_index('Year').T  # Set 'Year' as index and transpose

# Step 4: Add a helper column 'Sort' at the end with descending values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Step 5: Diagnostic Step - Display the transposed DataFrame to verify structure
display(df_transposed)  # Check here to ensure all financial statement line items are intact

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,"29,038,000,000","28,676,000,000","31,303,000,000","26,466,000,000",5
Other Short Term Investments,"9,046,000,000","8,609,000,000","12,150,000,000","7,613,000,000",4
Cash And Cash Equivalents,"19,992,000,000","20,067,000,000","19,153,000,000","18,853,000,000",3
Cash Equivalents,"11,982,000,000","12,186,000,000","10,231,000,000","9,875,000,000",2
Cash Financial,"8,010,000,000","7,881,000,000","8,921,000,000","8,977,000,000",1

In [94]:
# Step 6: Sort by 'Sort' column in descending order
df_final = df_transposed.sort_values(by='Sort', ascending=False).reset_index(drop=True)

# Step 7: Remove the 'Sort' column
df_final = df_final.drop(columns=['Sort'])

# Step 8: Display the final DataFrame
display(df_final)  # Final check to ensure output is as expected

Year      2020-12-31      2021-12-31      2022-12-31      2023-12-31
0      1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
1      1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
2     89,902,000,000  89,312,000,000  95,546,000,000 102,888,000,000
3    110,863,000,000 110,391,000,000 115,666,000,000 122,648,000,000
4     39,810,000,000  54,671,000,000  62,858,000,000  59,445,000,000
..               ...             ...             ...             ...
74    29,038,000,000  28,676,000,000  31,303,000,000  26,466,000,000
75     9,046,000,000   8,609,000,000  12,150,000,000   7,613,000,000
76    19,992,000,000  20,067,000,000  19,153,000,000  18,853,000,000
77    11,982,000,000  12,186,000,000  10,231,000,000   9,875,000,000
78     8,010,000,000   7,881,000,000   8,921,000,000   8,977,000,000

[79 rows x 4 columns]

In [ ]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

In [103]:
# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 2: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 3: Transpose the sorted DataFrame
df_transposed = df.set_index('Year').T  # Set 'Year' as index and transpose
print("Step 3 - Transposed DataFrame:")
display(df_transposed.head())  # Display to verify that financial statement line items are intact

Step 3 - Transposed DataFrame:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000"
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000"
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000"

In [105]:
# Step 4: Add a helper column 'Sort' with descending values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)  # Add Sort as descending numbers at the end
print("Step 4 - Added 'Sort' column:")
display(df_transposed.head())  # Verify 'Sort' column has been added correctly

Step 4 - Added 'Sort' column:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

In [106]:
# Step 5: Reorder columns to place 'Sort' at the start
cols = ['Sort'] + [col for col in df_transposed.columns if col != 'Sort']
df_final = df_transposed[cols]  # Reorder columns with 'Sort' at the beginning
print("Step 5 - Reordered columns with 'Sort' at the start:")
display(df_final.head())  # Check reordering

Step 5 - Reordered columns with 'Sort' at the start:

Year,Sort,2020-12-31,2021-12-31,2022-12-31,2023-12-31
Ordinary Shares Number,79,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Share Issued,78,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Net Debt,77,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000"
Total Debt,76,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000"
Tangible Book Value,75,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000"

In [108]:
# Step 6: Sort by 'Sort' column in descending order and reset the index
df_final = df_final.sort_values(by='Sort', ascending=False).reset_index(drop=True)
print("Step 6 - Sorted by 'Sort' in descending order:")
display(df_final.head())  # Check sorting order

Step 6 - Sorted by 'Sort' in descending order:

Year  Sort      2020-12-31      2021-12-31      2022-12-31      2023-12-31
0       79   1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
1       78   1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
2       77  89,902,000,000  89,312,000,000  95,546,000,000 102,888,000,000
3       76 110,863,000,000 110,391,000,000 115,666,000,000 122,648,000,000
4       75  39,810,000,000  54,671,000,000  62,858,000,000  59,445,000,000

In [109]:
import pandas as pd

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 2: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 3: Transpose the sorted DataFrame, with 'Year' as index
df_transposed = df.set_index('Year').T  # Set 'Year' as index and transpose

# Step 4: Add a helper column 'Sort' at the end with descending values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Step 5: Diagnostic Step - Display 'df_transposed' to ensure all financial statement labels are intact
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' added")
display(df_transposed.head())

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' added

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

In [110]:
# Step 6: Reorder the columns to place 'Sort' at the beginning if needed
cols = ['Sort'] + [col for col in df_transposed.columns if col != 'Sort']
df_final = df_transposed[cols]

print("Step 6 - Reordered columns with 'Sort' at the start")
display(df_final.head())  # Check if 'Sort' is the first column and labels are intact

Step 6 - Reordered columns with 'Sort' at the start

Year,Sort,2020-12-31,2021-12-31,2022-12-31,2023-12-31
Ordinary Shares Number,79,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Share Issued,78,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Net Debt,77,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000"
Total Debt,76,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000"
Tangible Book Value,75,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000"

In [111]:
# Step 7: Sort by 'Sort' column in descending order and reset the index
df_final = df_final.sort_values(by='Sort', ascending=False).reset_index(drop=True)
print("Step 7 - Sorted by 'Sort' in descending order")
display(df_final.head())

Step 7 - Sorted by 'Sort' in descending order

Year  Sort      2020-12-31      2021-12-31      2022-12-31      2023-12-31
0       79   1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
1       78   1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
2       77  89,902,000,000  89,312,000,000  95,546,000,000 102,888,000,000
3       76 110,863,000,000 110,391,000,000 115,666,000,000 122,648,000,000
4       75  39,810,000,000  54,671,000,000  62,858,000,000  59,445,000,000

In [2]:
import pandas as pd

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 2: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 3: Transpose the sorted DataFrame, with 'Year' as index
df_transposed = df.set_index('Year').T  # Set 'Year' as index and transpose

# Step 4: Add a helper column 'Sort' at the end with descending values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Step 5: Diagnostic Step - Display 'df_transposed' to ensure all financial statement labels are intact
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' added")
display(df_transposed.head())

# Step 6: Use Data Wrangler to manipulate the DataFrame
dw_df = dw.DataFrame(df_transposed)
dw_df

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' added

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,1.400000e+09,1.500000e+09,1.400000e+09,1.200000e+09,79
Share Issued,1.400000e+09,1.500000e+09,1.400000e+09,1.200000e+09,78
Net Debt,8.990200e+10,8.931200e+10,9.554600e+10,1.028880e+11,77
Total Debt,1.108630e+11,1.103910e+11,1.156660e+11,1.226480e+11,76
Tangible Book Value,3.981000e+10,5.467100e+10,6.285800e+10,5.944500e+10,75

NameError: name 'dw' is not defined

In [113]:
# Step 6: Reorder the columns to place 'Sort' at the beginning if needed
cols = ['Sort'] + [col for col in df_transposed.columns if col != 'Sort']
df_final = df_transposed[cols]

print("Step 6 - Reordered columns with 'Sort' at the start")
display(df_final.head())  # Check if 'Sort' is the first column and labels are intact

Step 6 - Reordered columns with 'Sort' at the start

Year,Sort,2020-12-31,2021-12-31,2022-12-31,2023-12-31
Ordinary Shares Number,79,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Share Issued,78,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Net Debt,77,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000"
Total Debt,76,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000"
Tangible Book Value,75,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000"

In [ ]:
import pandas as pd

# Load your data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Transpose the sorted DataFrame
df_transposed = df.set_index('Year').T

# Add a helper 'Sort' column at the end with descending numbers
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Add a secondary helper column 'ID' to uniquely identify rows (avoids potential drops)
df_transposed['ID'] = range(1, len(df_transposed) + 1)

# Diagnostic Step: Check DataFrame after adding helper columns
print("After adding 'Sort' and 'ID' columns:")
display(df_transposed.head())

After adding 'Sort' and 'ID' columns:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort,ID
Ordinary Shares Number,1.400000e+09,1.500000e+09,1.400000e+09,1.200000e+09,79,1
Share Issued,1.400000e+09,1.500000e+09,1.400000e+09,1.200000e+09,78,2
Net Debt,8.990200e+10,8.931200e+10,9.554600e+10,1.028880e+11,77,3
Total Debt,1.108630e+11,1.103910e+11,1.156660e+11,1.226480e+11,76,4
Tangible Book Value,3.981000e+10,5.467100e+10,6.285800e+10,5.944500e+10,75,5

In [5]:
# Sort by the 'Sort' column in descending order, with 'ID' column as backup for structure
df_final = df_transposed.sort_values(by=['Sort', 'ID'], ascending=[False, True]).reset_index(drop=True)

# Remove the 'Sort' and 'ID' columns after sorting if they are no longer needed
df_final = df_final.drop(columns=['Sort', 'ID'])

# Final display of the DataFrame to confirm result
print("Final sorted DataFrame without helper columns:")
display(df_final)

Final sorted DataFrame without helper columns:

Year    2020-12-31    2021-12-31    2022-12-31    2023-12-31
0     1.400000e+09  1.500000e+09  1.400000e+09  1.200000e+09
1     1.400000e+09  1.500000e+09  1.400000e+09  1.200000e+09
2     8.990200e+10  8.931200e+10  9.554600e+10  1.028880e+11
3     1.108630e+11  1.103910e+11  1.156660e+11  1.226480e+11
4     3.981000e+10  5.467100e+10  6.285800e+10  5.944500e+10
..             ...           ...           ...           ...
74    2.903800e+10  2.867600e+10  3.130300e+10  2.646600e+10
75    9.046000e+09  8.609000e+09  1.215000e+10  7.613000e+09
76    1.999200e+10  2.006700e+10  1.915300e+10  1.885300e+10
77    1.198200e+10  1.218600e+10  1.023100e+10  9.875000e+09
78    8.010000e+09  7.881000e+09  8.921000e+09  8.977000e+09

[79 rows x 4 columns]

In [6]:
import pandas as pd

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 3: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame, making 'Year' the index temporarily
df_transposed = df.set_index('Year').T

# Step 5: Add helper columns at the end
# 'Sort' with descending order, and 'ID' as a unique identifier
df_transposed['Sort'] = range(len(df_transposed), 0, -1)
df_transposed['ID'] = range(1, len(df_transposed) + 1)

# Step 6: Diagnostic Checkpoint
print("Diagnostic: Transposed DataFrame with 'Sort' and 'ID' columns added:")
display(df_transposed.head())  # Check the structure at this stage

Diagnostic: Transposed DataFrame with 'Sort' and 'ID' columns added:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort,ID
Ordinary Shares Number,1.400000e+09,1.500000e+09,1.400000e+09,1.200000e+09,79,1
Share Issued,1.400000e+09,1.500000e+09,1.400000e+09,1.200000e+09,78,2
Net Debt,8.990200e+10,8.931200e+10,9.554600e+10,1.028880e+11,77,3
Total Debt,1.108630e+11,1.103910e+11,1.156660e+11,1.226480e+11,76,4
Tangible Book Value,3.981000e+10,5.467100e+10,6.285800e+10,5.944500e+10,75,5

In [7]:
# Step 7: Sort by the 'Sort' column (descending) and 'ID' (ascending) to maintain structure
df_final = df_transposed.sort_values(by=['Sort', 'ID'], ascending=[False, True]).reset_index(drop=True)

# Step 8: Remove helper columns after sorting if they are no longer needed
df_final = df_final.drop(columns=['Sort', 'ID'])

# Final Diagnostic to confirm structure and data integrity
print("Final sorted DataFrame without helper columns:")
display(df_final)

Final sorted DataFrame without helper columns:

Year    2020-12-31    2021-12-31    2022-12-31    2023-12-31
0     1.400000e+09  1.500000e+09  1.400000e+09  1.200000e+09
1     1.400000e+09  1.500000e+09  1.400000e+09  1.200000e+09
2     8.990200e+10  8.931200e+10  9.554600e+10  1.028880e+11
3     1.108630e+11  1.103910e+11  1.156660e+11  1.226480e+11
4     3.981000e+10  5.467100e+10  6.285800e+10  5.944500e+10
..             ...           ...           ...           ...
74    2.903800e+10  2.867600e+10  3.130300e+10  2.646600e+10
75    9.046000e+09  8.609000e+09  1.215000e+10  7.613000e+09
76    1.999200e+10  2.006700e+10  1.915300e+10  1.885300e+10
77    1.198200e+10  1.218600e+10  1.023100e+10  9.875000e+09
78    8.010000e+09  7.881000e+09  8.921000e+09  8.977000e+09

[79 rows x 4 columns]

In [9]:
import pandas as pd

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 3: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame, making 'Year' the index temporarily
df_transposed = df.set_index('Year').T

# Step 5: Add helper columns
# 'Sort' in descending order for sorting and 'ID' to uniquely identify rows
# Both columns will start with the number of rows in the DataFrame and decrement
df_transposed['Sort'] = range(len(df_transposed), 0, -1)
df_transposed['ID'] = range(len(df_transposed), 0, -1)

# Diagnostic Checkpoint: Display after adding helper columns
print("Diagnostic - Transposed DataFrame with 'Sort' and 'ID' columns:")
display(df_transposed.head())

# Step 6: Sort by the 'Sort' column (descending) and 'ID' for stable sorting
df_final = df_transposed.sort_values(by=['Sort', 'ID'], ascending=[False, True]).reset_index(drop=True)

# Step 7: Remove helper columns
df_final = df_final.drop(columns=['Sort', 'ID'])

# Final Diagnostic: Confirm data integrity and structure
print("Final sorted DataFrame without helper columns:")
display(df_final)

Diagnostic - Transposed DataFrame with 'Sort' and 'ID' columns:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort,ID
Ordinary Shares Number,1.400000e+09,1.500000e+09,1.400000e+09,1.200000e+09,79,79
Share Issued,1.400000e+09,1.500000e+09,1.400000e+09,1.200000e+09,78,78
Net Debt,8.990200e+10,8.931200e+10,9.554600e+10,1.028880e+11,77,77
Total Debt,1.108630e+11,1.103910e+11,1.156660e+11,1.226480e+11,76,76
Tangible Book Value,3.981000e+10,5.467100e+10,6.285800e+10,5.944500e+10,75,75

Final sorted DataFrame without helper columns:

Year    2020-12-31    2021-12-31    2022-12-31    2023-12-31
0     1.400000e+09  1.500000e+09  1.400000e+09  1.200000e+09
1     1.400000e+09  1.500000e+09  1.400000e+09  1.200000e+09
2     8.990200e+10  8.931200e+10  9.554600e+10  1.028880e+11
3     1.108630e+11  1.103910e+11  1.156660e+11  1.226480e+11
4     3.981000e+10  5.467100e+10  6.285800e+10  5.944500e+10
..             ...           ...           ...           ...
74    2.903800e+10  2.867600e+10  3.130300e+10  2.646600e+10
75    9.046000e+09  8.609000e+09  1.215000e+10  7.613000e+09
76    1.999200e+10  2.006700e+10  1.915300e+10  1.885300e+10
77    1.198200e+10  1.218600e+10  1.023100e+10  9.875000e+09
78    8.010000e+09  7.881000e+09  8.921000e+09  8.977000e+09

[79 rows x 4 columns]

In [10]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 3: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame, making 'Year' the index temporarily
df_transposed = df.set_index('Year').T

# Step 5: Add a helper 'Sort' column in descending order and keep original index as a separate column
df_transposed['Sort'] = range(len(df_transposed), 0, -1)
df_transposed['Original_Index'] = df_transposed.index  # Adding the original index as a separate column

# Diagnostic Step: Display the DataFrame to verify the changes after adding 'Sort' and 'Original_Index'
print("Diagnostic - Transposed DataFrame with 'Sort' and 'Original_Index' columns added:")
display(df_transposed.head())  # Display the first few rows to check structure

Diagnostic - Transposed DataFrame with 'Sort' and 'Original_Index' columns added:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort,Original_Index
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79,Ordinary Shares Number
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78,Share Issued
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77,Net Debt
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76,Total Debt
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75,Tangible Book Value

In [12]:
# Step 6: Sort by the 'Sort' column in descending order
df_final = df_transposed.sort_values(by='Sort', ascending=False).reset_index(drop=True)

# Step 7: Remove the 'Sort' column after sorting if it's no longer needed
df_final = df_final.drop(columns=['Sort'])

# Final Diagnostic: Confirm structure and data integrity without the 'Sort' column
print("Final sorted DataFrame without 'Sort' column:")
display(df_final.head())  # Display the first few rows of the final result to verify

Final sorted DataFrame without 'Sort' column:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Original_Index
0,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",Ordinary Shares Number
1,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",Share Issued
2,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",Net Debt
3,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",Total Debt
4,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",Tangible Book Value

In [13]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 3: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 4: Transpose the DataFrame and add helper columns
df_transposed = df.set_index('Year').T.reset_index()  # Resetting index to make 'index' a column

# Step 5: Add 'Sort' column in descending order, and keep 'index' as a column for financial items
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic: Check the structure after adding 'Sort' and flattening the structure
print("Step 5 - Diagnostic Check after adding 'Sort':")
display(df_transposed.head())

Step 5 - Diagnostic Check after adding 'Sort':

Year,index,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
0,Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
1,Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
2,Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
3,Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
4,Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

In [16]:
# Step 6: Sort by 'Sort' column in descending order
df_sorted = df_transposed.sort_values(by='Sort', ascending=False).reset_index(drop=True)

# Display the sorted DataFrame
print("Step 6 - Sorted by 'Sort' in descending order:")
display(df_sorted)  # Corrected display statement

Step 6 - Sorted by 'Sort' in descending order:

Year,index,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
0,Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
1,Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
2,Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
3,Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
4,Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75
...,...,...,...,...,...,...
74,Cash Cash Equivalents And Short Term Investments,"29,038,000,000","28,676,000,000","31,303,000,000","26,466,000,000",5
75,Other Short Term Investments,"9,046,000,000","8,609,000,000","12,150,000,000","7,613,000,000",4
76,Cash And Cash Equivalents,"19,992,000,000","20,067,000,000","19,153,000,000","18,853,000,000",3
77,Cash Equivalents,"11,982,000,000","12,186,000,000","10,231,000,000","9,875,000,000",2
78,Cash Financial,"8,010,000,000","7,881,000,000","8,921,000,000","8,977,000,000",1

In [ ]:
import pandas as pd

# Disable scientific notation for readability
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 3: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame and make 'Year' the index temporarily
df_transposed = df.set_index('Year').T

# Step 5: Add a helper 'Sort' column at the end with descending numbers
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Step: Display DataFrame after transposing and adding 'Sort' to confirm layout
print("Diagnostic Step: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# Step 6: Sort the entire DataFrame by 'Sort' column in descending order
# Confirm that this operation is sorting all rows across all columns, not just the 'Sort' column
df_sorted = df_transposed.sort_values(by='Sort', ascending=False).reset_index()

# Final Diagnostic: Confirm structure and sorting across all columns
print("Final sorted DataFrame by 'Sort' across all columns:")
display(df_sorted)

# Save sorted DataFrame to CSV
output_file_path = 'sorted_balance_sheet.csv'
df_sorted.to_csv(output_file_path, index=False)
print(f"DataFrame saved as '{output_file_path}'")

Diagnostic Step: Transposed DataFrame with 'Sort' column added:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

In [24]:
# Step 6: Sort the entire DataFrame by 'Sort' column in descending order
# Confirm that this operation is sorting all rows across all columns, not just the 'Sort' column
df_sorted = df_transposed.sort_values(by='Sort', ascending=False).reset_index()

# Final Diagnostic: Confirm structure and sorting across all columns
print("Final sorted DataFrame by 'Sort' across all columns:")
display(df_sorted)

# Save sorted DataFrame to CSV
output_file_path = 'sorted_balance_sheet.csv'
df_sorted.to_csv(output_file_path, index=False)
print(f"DataFrame saved as '{output_file_path}'")

Final sorted DataFrame by 'Sort' across all columns:

Year,index,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
0,Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
1,Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
2,Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
3,Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
4,Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75
...,...,...,...,...,...,...
74,Cash Cash Equivalents And Short Term Investments,"29,038,000,000","28,676,000,000","31,303,000,000","26,466,000,000",5
75,Other Short Term Investments,"9,046,000,000","8,609,000,000","12,150,000,000","7,613,000,000",4
76,Cash And Cash Equivalents,"19,992,000,000","20,067,000,000","19,153,000,000","18,853,000,000",3
77,Cash Equivalents,"11,982,000,000","12,186,000,000","10,231,000,000","9,875,000,000",2
78,Cash Financial,"8,010,000,000","7,881,000,000","8,921,000,000","8,977,000,000",1

DataFrame saved as 'sorted_balance_sheet.csv'

In [21]:
import pandas as pd

# Load data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Ensure 'Year' is the first column
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Sort by 'Year' and transpose
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)
df_transposed = df.set_index('Year').T

# Add helper column 'Sort'
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Sort by 'Sort' column and reset index to remove residual effects
df_sorted = df_transposed.sort_values(by='Sort', ascending=False).reset_index(drop=True)

# Final display to confirm if all data has sorted correctly
print("Final sorted DataFrame in Jupyter:")
display(df_sorted)

df_sorted.to_csv('sorted_balance_sheet.csv', index=False)

Final sorted DataFrame in Jupyter:

Year      2020-12-31      2021-12-31      2022-12-31      2023-12-31  Sort
0      1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000    79
1      1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000    78
2     89,902,000,000  89,312,000,000  95,546,000,000 102,888,000,000    77
3    110,863,000,000 110,391,000,000 115,666,000,000 122,648,000,000    76
4     39,810,000,000  54,671,000,000  62,858,000,000  59,445,000,000    75
..               ...             ...             ...             ...   ...
74    29,038,000,000  28,676,000,000  31,303,000,000  26,466,000,000     5
75     9,046,000,000   8,609,000,000  12,150,000,000   7,613,000,000     4
76    19,992,000,000  20,067,000,000  19,153,000,000  18,853,000,000     3
77    11,982,000,000  12,186,000,000  10,231,000,000   9,875,000,000     2
78     8,010,000,000   7,881,000,000   8,921,000,000   8,977,000,000     1

[79 rows x 5 columns]

In [25]:
import pandas as pd

# Disable scientific notation for readability
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Sort by 'Year' in ascending order and transpose
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)
df_transposed = df.set_index('Year').T

# Add a helper 'Sort' column with descending order numbers
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Check for Transposed DataFrame with 'Sort'
display(df_transposed.head())

# Save the initial sorted and transposed DataFrame to a CSV file
output_file_path = 'sorted_balance_sheet.csv'
df_transposed.to_csv(output_file_path, index=True)
print(f"Initial sorted and transposed DataFrame saved as '{output_file_path}'")

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Initial sorted and transposed DataFrame saved as 'sorted_balance_sheet.csv'

In [29]:
# Load the sorted CSV
sorted_file_path = 'sorted_balance_sheet.csv'
df_sorted = pd.read_csv(sorted_file_path)

# Apply additional sort if needed (e.g., sorting by 'Year' column)
# For example, you might sort by 'Year' in ascending order
df_sorted = df_sorted.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Diagnostic Check for Final Sorted DataFrame
display(df_sorted.head())

# Save the final sorted DataFrame to another CSV file
final_output_path = 'final_sorted_balance_sheet.csv'
df_sorted.to_csv(final_output_path, index=False)
print(f"Final sorted DataFrame saved as '{final_output_path}'")

KeyError: 'Year'

In [32]:
import pandas as pd

# Disable scientific notation for readability
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load and preprocess the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Sort by 'Year' in ascending order
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Transpose the DataFrame and add 'Sort' column
df_transposed = df.set_index('Year').T
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Save the transposed and sorted DataFrame
intermediate_file_path = 'transposed_balance_sheet.csv'
df_transposed.to_csv(intermediate_file_path)

# Step 2: Reload, recheck structure, and sort by 'Sort' column if needed
df_final = pd.read_csv(intermediate_file_path)

# Check column names and structure after reloading
print("Column names after reloading intermediate file:", df_final.columns)

# Sort by 'Sort' column
df_final = df_final.sort_values(by='Sort', ascending=False).reset_index(drop=True)

# Final display to verify
display(df_final)

# Save the final output
final_output_path = 'final_sorted_balance_sheet.csv'
df_final.to_csv(final_output_path, index=False)
print(f"DataFrame saved as '{final_output_path}'")

Column names after reloading intermediate file: Index(['Unnamed: 0', '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
       'Sort'],
      dtype='object')

,Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
0,Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
1,Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
2,Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
3,Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
4,Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75
...,...,...,...,...,...,...
74,Cash Cash Equivalents And Short Term Investments,"29,038,000,000","28,676,000,000","31,303,000,000","26,466,000,000",5
75,Other Short Term Investments,"9,046,000,000","8,609,000,000","12,150,000,000","7,613,000,000",4
76,Cash And Cash Equivalents,"19,992,000,000","20,067,000,000","19,153,000,000","18,853,000,000",3
77,Cash Equivalents,"11,982,000,000","12,186,000,000","10,231,000,000","9,875,000,000",2
78,Cash Financial,"8,010,000,000","7,881,000,000","8,921,000,000","8,977,000,000",1

DataFrame saved as 'final_sorted_balance_sheet.csv'

In [31]:
import pandas as pd

# Disable scientific notation for readability
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load and preprocess the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Sort by 'Year' in ascending order
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Transpose the DataFrame and add 'Sort' column
df_transposed = df.set_index('Year').T
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Save the transposed and sorted DataFrame without the index
intermediate_file_path = 'transposed_balance_sheet.csv'
df_transposed.to_csv(intermediate_file_path, index=False)

# Step 2: Reload the intermediate CSV without the unwanted index column
df_final = pd.read_csv(intermediate_file_path)

# Verify structure after reloading to ensure 'Unnamed: 0' does not appear
print("Column names after reloading intermediate file:", df_final.columns)

# Sort by 'Sort' column
df_final = df_final.sort_values(by='Sort', ascending=False).reset_index(drop=True)

# Final display to verify
print("Final sorted DataFrame by 'Sort' across all columns:")
display(df_final)

# Save the final output
final_output_path = 'final_sorted_balance_sheet.csv'
df_final.to_csv(final_output_path, index=False)
print(f"DataFrame saved as '{final_output_path}'")

Column names after reloading intermediate file: Index(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31', 'Sort'], dtype='object')
Final sorted DataFrame by 'Sort' across all columns:

        2020-12-31      2021-12-31      2022-12-31      2023-12-31  Sort
0    1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000    79
1    1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000    78
2   89,902,000,000  89,312,000,000  95,546,000,000 102,888,000,000    77
3  110,863,000,000 110,391,000,000 115,666,000,000 122,648,000,000    76
4   39,810,000,000  54,671,000,000  62,858,000,000  59,445,000,000    75
..             ...             ...             ...             ...   ...
74  29,038,000,000  28,676,000,000  31,303,000,000  26,466,000,000     5
75   9,046,000,000   8,609,000,000  12,150,000,000   7,613,000,000     4
76  19,992,000,000  20,067,000,000  19,153,000,000  18,853,000,000     3
77  11,982,000,000  12,186,000,000  10,231,000,000   9,875,000,000     2
78   8,010,000,000   7,881,000,000   8,921,000,000   8,977,000,000     1

[79 rows x 5 columns]

DataFrame saved as 'final_sorted_balance_sheet.csv'

In [48]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)
df.columns.values[0] = 'Year'

# Step 2: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 3: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index('Year').T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# Reset the index to make 'Year' a column again
df_transposed.reset_index(inplace=True)

# Rename the 'index' column to 'Year'
df_transposed.rename(columns={'index': 'Year'}, inplace=True)

# Remove the name of the index
df_transposed.index.name = None

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

In [50]:
# Step 6: Assign df_transposed to df_final and then sort by 'Sort' column
df_final = df_transposed.copy()  # Ensures df_final retains all columns from df_transposed

# Diagnostic Display to check columns in df_final before sorting
print("Columns in df_final before sorting:", df_final.columns)

Columns in df_final before sorting: Index(['Year', '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31', 'Sort'], dtype='object', name='Year')

In [52]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)
df.columns.values[0] = 'Year'

# Step 2: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 3: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index('Year').T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# Reset the index to make 'Year' a column again
df_transposed.reset_index(inplace=True)

# Rename the 'index' column to 'Year'
df_transposed.rename(columns={'index': 'Year'}, inplace=True)

# Remove the name of the index
df_transposed.index.name = None

# Step 6: Assign df_transposed to df_final and then sort by 'Sort' column
df_final = df_transposed.copy()  # Ensures df_final retains all columns from df_transposed

# Diagnostic Display to check columns in df_final before sorting
print(df_final)

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Year,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Year                                              Year      2020-12-31  \
0                               Ordinary Shares Number   1,400,000,000
1                                         Share Issued   1,400,000,000
2                                             Net Debt  89,902,000,000
3                                           Total Debt 110,863,000,000
4                                  Tangible Book Value  39,810,000,000
..                                                 ...             ...
74    Cash Cash Equivalents And Short Term Investments  29,038,000,000
75                        Other Short Term Investments   9,046,000,000
76                           Cash And Cash Equivalents  19,992,000,000
77                                    Cash Equivalents  11,982,000,000
78                                      Cash Financial   8,010,000,000

Year      2021-12-31      2022-12-31      2023-12-31  Sort
0      1,500,000,000   1,400,000,000   1,200,000,000    79
1      1,500,000,000   1,400,000,000   1,200,000,000    78
2     89,312,000,000  95,546,000,000 102,888,000,000    77
3    110,391,000,000 115,666,000,000 122,648,000,000    76
4     54,671,000,000  62,858,000,000  59,445,000,000    75
..               ...             ...             ...   ...
74    28,676,000,000  31,303,000,000  26,466,000,000     5
75     8,609,000,000  12,150,000,000   7,613,000,000     4
76    20,067,000,000  19,153,000,000  18,853,000,000     3
77    12,186,000,000  10,231,000,000   9,875,000,000     2
78     7,881,000,000   8,921,000,000   8,977,000,000     1

[79 rows x 6 columns]

In [53]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)
df.columns.values[0] = 'Year'

# Step 2: Ensure the first column is labeled 'Year'
if df.columns[0] != 'Year':
    df.columns.values[0] = 'Year'

# Step 3: Sort data by 'Year' in ascending order (oldest to newest)
df = df.sort_values(by='Year', ascending=True).reset_index(drop=True)

# Step 4: Rename the 'Year' column to 'YearC' before transposing
df.rename(columns={'Year': 'YearC'}, inplace=True)

# Step 5: Transpose the sorted DataFrame
df_transposed = df.set_index('YearC').T

# Step 6: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 6 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# Reset the index to make 'YearC' a column again
df_transposed.reset_index(inplace=True)

# Rename the 'index' column to 'YearC'
df_transposed.rename(columns={'index': 'YearC'}, inplace=True)

# Step 7: Assign df_transposed to df_final and then sort by 'Sort' column
df_final = df_transposed.copy()  # Ensures df_final retains all columns from df_transposed

# Diagnostic Display to check columns in df_final before sorting
print("Columns in df_final before sorting:", df_final.columns)

Step 6 - Diagnostic: Transposed DataFrame with 'Sort' column added:

YearC,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Columns in df_final before sorting: Index(['YearC', '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
       'Sort'],
      dtype='object', name='YearC')

In [54]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Identify the first column (which has a blank header)
first_column_name = df.columns[0]

# Step 3: Sort data by the first column in ascending order (oldest to newest)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

In [ ]:
# Step 6: Reset the index to make the first column a column again
df_transposed.reset_index(inplace=True)

# Rename the 'index' column to something appropriate, e.g., 'Category'
df_transposed.rename(columns={'index': 'Category'}, inplace=True)

# Rename the first column to 'Year'
df_transposed.rename(columns={df_transposed.columns[0]: 'Year'}, inplace=True)

# Step 7: Assign df_transposed to df_final and then sort by 'Sort' column
df_final = df_transposed.copy()  # Ensures df_final retains all columns from df_transposed

# Diagnostic Display to check columns in df_final before sorting
print("Columns in df_final before sorting:", df_final.columns)

Columns in df_final before sorting: Index(['Year', 'Year', '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
       'Sort'],
      dtype='object', name='Unnamed: 0')

In [56]:
# Optional: Rename the first column to 'Year' if needed
df_final.rename(columns={first_column_name: 'Year'}, inplace=True)

# Final Diagnostic Display
print("Final DataFrame:")
print(df_final)

Final DataFrame:
Unnamed: 0                                          Category      2020-12-31  \
0                                     Ordinary Shares Number   1,400,000,000
1                                               Share Issued   1,400,000,000
2                                                   Net Debt  89,902,000,000
3                                                 Total Debt 110,863,000,000
4                                        Tangible Book Value  39,810,000,000
..                                                       ...             ...
74          Cash Cash Equivalents And Short Term Investments  29,038,000,000
75                              Other Short Term Investments   9,046,000,000
76                                 Cash And Cash Equivalents  19,992,000,000
77                                          Cash Equivalents  11,982,000,000
78                                            Cash Financial   8,010,000,000

Unnamed: 0      2021-12-31      2022-12-31      2023-12-31  Sort
0            1,500,000,000   1,400,000,000   1,200,000,000    79
1            1,500,000,000   1,400,000,000   1,200,000,000    78
2           89,312,000,000  95,546,000,000 102,888,000,000    77
3          110,391,000,000 115,666,000,000 122,648,000,000    76
4           54,671,000,000  62,858,000,000  59,445,000,000    75
..                     ...             ...             ...   ...
74          28,676,000,000  31,303,000,000  26,466,000,000     5
75           8,609,000,000  12,150,000,000   7,613,000,000     4
76          20,067,000,000  19,153,000,000  18,853,000,000     3
77          12,186,000,000  10,231,000,000   9,875,000,000     2
78           7,881,000,000   8,921,000,000   8,977,000,000     1

[79 rows x 6 columns]

In [72]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Identify the first column (which has a blank header)
first_column_name = df.columns[0]

# Step 3: Sort data by the first column in ascending order (oldest to newest)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

In [71]:
# Step 6: Reset the index to make the first column a column again
df_transposed.reset_index(inplace=True)
print (df_transposed)

Unnamed: 0  index                                              Year  \
0               0                            Ordinary Shares Number
1               1                                      Share Issued
2               2                                          Net Debt
3               3                                        Total Debt
4               4                               Tangible Book Value
..            ...                                               ...
74             74  Cash Cash Equivalents And Short Term Investments
75             75                      Other Short Term Investments
76             76                         Cash And Cash Equivalents
77             77                                  Cash Equivalents
78             78                                    Cash Financial

Unnamed: 0            Year      2021-12-31      2022-12-31      2023-12-31  \
0            1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
1            1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
2           89,902,000,000  89,312,000,000  95,546,000,000 102,888,000,000
3          110,863,000,000 110,391,000,000 115,666,000,000 122,648,000,000
4           39,810,000,000  54,671,000,000  62,858,000,000  59,445,000,000
..                     ...             ...             ...             ...
74          29,038,000,000  28,676,000,000  31,303,000,000  26,466,000,000
75           9,046,000,000   8,609,000,000  12,150,000,000   7,613,000,000
76          19,992,000,000  20,067,000,000  19,153,000,000  18,853,000,000
77          11,982,000,000  12,186,000,000  10,231,000,000   9,875,000,000
78           8,010,000,000   7,881,000,000   8,921,000,000   8,977,000,000

Unnamed: 0  Sort
0             79
1             78
2             77
3             76
4             75
..           ...
74             5
75             4
76             3
77             2
78             1

[79 rows x 7 columns]

In [ ]:
# Rename the 'index' column to 'Category'
df_transposed.rename(columns={'index': 'Category'}, inplace=True)
print (df_transposed)

# Rename the first column to 'Year'
df_transposed.rename(columns={df_transposed.columns[0]: 'Year'}, inplace=True)

# Step 7: Assign df_transposed to df_final and then sort by 'Sort' column
df_final = df_transposed.copy()  # Ensures df_final retains all columns from df_transposed
print (df_final)

In [73]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Identify the first column (which has a blank header)
first_column_name = df.columns[0]

# Step 3: Sort data by the first column in ascending order (oldest to newest)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# Step 6: Reset the index to make the first column a column again
df_transposed.reset_index(inplace=True)

# Rename the 'index' column to 'Category'
df_transposed.rename(columns={'index': 'Category'}, inplace=True)

# Rename the first column to 'Year'
df_transposed.rename(columns={df_transposed.columns[0]: 'Year'}, inplace=True)

# Step 7: Drop the 'Unnamed: 0' column if it exists
if 'Unnamed: 0' in df_transposed.columns:
    df_transposed.drop(columns=['Unnamed: 0'], inplace=True)

# Step 8: Assign df_transposed to df_final and then sort by 'Sort' column
df_final = df_transposed.copy()  # Ensures df_final retains all columns from df_transposed

# Diagnostic Display to check columns in df_final before sorting
print("Columns in df_final before sorting:", df_final.columns)

# Final Diagnostic Display
print("Final DataFrame:")
print(df_final)

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Columns in df_final before sorting: Index(['Year', '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31', 'Sort'], dtype='object', name='Unnamed: 0')
Final DataFrame:
Unnamed: 0                                              Year      2020-12-31  \
0                                     Ordinary Shares Number   1,400,000,000
1                                               Share Issued   1,400,000,000
2                                                   Net Debt  89,902,000,000
3                                                 Total Debt 110,863,000,000
4                                        Tangible Book Value  39,810,000,000
..                                                       ...             ...
74          Cash Cash Equivalents And Short Term Investments  29,038,000,000
75                              Other Short Term Investments   9,046,000,000
76                                 Cash And Cash Equivalents  19,992,000,000
77                                          Cash Equivalents  11,982,000,000
78                                            Cash Financial   8,010,000,000

Unnamed: 0      2021-12-31      2022-12-31      2023-12-31  Sort
0            1,500,000,000   1,400,000,000   1,200,000,000    79
1            1,500,000,000   1,400,000,000   1,200,000,000    78
2           89,312,000,000  95,546,000,000 102,888,000,000    77
3          110,391,000,000 115,666,000,000 122,648,000,000    76
4           54,671,000,000  62,858,000,000  59,445,000,000    75
..                     ...             ...             ...   ...
74          28,676,000,000  31,303,000,000  26,466,000,000     5
75           8,609,000,000  12,150,000,000   7,613,000,000     4
76          20,067,000,000  19,153,000,000  18,853,000,000     3
77          12,186,000,000  10,231,000,000   9,875,000,000     2
78           7,881,000,000   8,921,000,000   8,977,000,000     1

[79 rows x 6 columns]

In [ ]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Identify the first column (which has a blank header)
first_column_name = df.columns[0]

# Step 3: Sort data by the first column in ascending order (oldest to newest)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Columns in df_final before sorting: Index(['Year', '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31', 'Sort'], dtype='object', name='Unnamed: 0')

In [77]:
# Step 6: Reset the index to make the first column a column again
df_transposed.reset_index(inplace=True)

# Rename the 'index' column to 'Category'
df_transposed.rename(columns={'index': 'Category'}, inplace=True)

# Rename the first column to 'Year'
df_transposed.rename(columns={df_transposed.columns[0]: 'Year'}, inplace=True)

# Step 7: Drop the 'Unnamed: 0' column if it exists
if 'Unnamed: 0' in df_transposed.columns:
    df_transposed.drop(columns=['Unnamed: 0'], inplace=True)

# Step 8: Assign df_transposed to df_final and then sort by 'Sort' column
df_final = df_transposed.copy()  # Ensures df_final retains all columns from df_transposed

# Diagnostic Display to check columns in df_final before sorting
print("Columns in df_final before sorting:", df_final.columns)

Columns in df_final before sorting: Index(['Year', 'Year', '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
       'Sort'],
      dtype='object', name='Unnamed: 0')

In [78]:
# Final Diagnostic Display
print("Final DataFrame:")
print(df_final)

Final DataFrame:
Unnamed: 0 Year                                              Year  \
0             0                            Ordinary Shares Number
1             1                                      Share Issued
2             2                                          Net Debt
3             3                                        Total Debt
4             4                               Tangible Book Value
..          ...                                               ...
74           74  Cash Cash Equivalents And Short Term Investments
75           75                      Other Short Term Investments
76           76                         Cash And Cash Equivalents
77           77                                  Cash Equivalents
78           78                                    Cash Financial

Unnamed: 0      2020-12-31      2021-12-31      2022-12-31      2023-12-31  \
0            1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
1            1,400,000,000   1,500,000,000   1,400,000,000   1,200,000,000
2           89,902,000,000  89,312,000,000  95,546,000,000 102,888,000,000
3          110,863,000,000 110,391,000,000 115,666,000,000 122,648,000,000
4           39,810,000,000  54,671,000,000  62,858,000,000  59,445,000,000
..                     ...             ...             ...             ...
74          29,038,000,000  28,676,000,000  31,303,000,000  26,466,000,000
75           9,046,000,000   8,609,000,000  12,150,000,000   7,613,000,000
76          19,992,000,000  20,067,000,000  19,153,000,000  18,853,000,000
77          11,982,000,000  12,186,000,000  10,231,000,000   9,875,000,000
78           8,010,000,000   7,881,000,000   8,921,000,000   8,977,000,000

Unnamed: 0  Sort
0             79
1             78
2             77
3             76
4             75
..           ...
74             5
75             4
76             3
77             2
78             1

[79 rows x 7 columns]

In [80]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Identify the first column (which has a blank header)
first_column_name = df.columns[0]

# Step 3: Sort data by the first column in ascending order (oldest to newest)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

In [ ]:
# Step 6: Reset the index to make the first column a column again
df_transposed.reset_index(inplace=True)

# Rename the 'index' column to 'Category'
df_transposed.rename(columns={'index': 'Category'}, inplace=True)

# Rename the first column to 'Year'
df_transposed.rename(columns={df_transposed.columns[0]: 'Year'}, inplace=True)

# Step 7: Drop the 'Unnamed: 0' column if it exists
if 'Unnamed: 0' in df_transposed.columns:
    df_transposed.drop(columns=['Unnamed: 0'], inplace=True)

# Step 8: Assign df_transposed to df_final and then sort by 'Sort' column
df_final = df_transposed.copy()  # Ensures df_final retains all columns from df_transposed

# Diagnostic Display to check columns in df_final before sorting
print("Columns in df_final before sorting:", df_final.columns)

# Final Diagnostic Display
print("Final DataFrame:")
print(df_final)

Columns in df_final before sorting: Index(['Year', 'Year', 'Year', 'Year', 'Year', '2020-12-31', '2021-12-31',
       '2022-12-31', '2023-12-31', 'Sort'],
      dtype='object', name='Unnamed: 0')
Final DataFrame:
Unnamed: 0 Year Year Year Year  \
0             0    0    0    0
1             1    1    1    1
2             2    2    2    2
3             3    3    3    3
4             4    4    4    4
..          ...  ...  ...  ...
74           74   74   74   74
75           75   75   75   75
76           76   76   76   76
77           77   77   77   77
78           78   78   78   78

Unnamed: 0                                              Year      2020-12-31  \
0                                     Ordinary Shares Number   1,400,000,000
1                                               Share Issued   1,400,000,000
2                                                   Net Debt  89,902,000,000
3                                                 Total Debt 110,863,000,000
4                                        Tangible Book Value  39,810,000,000
..                                                       ...             ...
74          Cash Cash Equivalents And Short Term Investments  29,038,000,000
75                              Other Short Term Investments   9,046,000,000
76                                 Cash And Cash Equivalents  19,992,000,000
77                                          Cash Equivalents  11,982,000,000
78                                            Cash Financial   8,010,000,000

Unnamed: 0      2021-12-31      2022-12-31      2023-12-31  Sort
0            1,500,000,000   1,400,000,000   1,200,000,000    79
1            1,500,000,000   1,400,000,000   1,200,000,000    78
2           89,312,000,000  95,546,000,000 102,888,000,000    77
3          110,391,000,000 115,666,000,000 122,648,000,000    76
4           54,671,000,000  62,858,000,000  59,445,000,000    75
..                     ...             ...             ...   ...
74          28,676,000,000  31,303,000,000  26,466,000,000     5
75           8,609,000,000  12,150,000,000   7,613,000,000     4
76          20,067,000,000  19,153,000,000  18,853,000,000     3
77          12,186,000,000  10,231,000,000   9,875,000,000     2
78           7,881,000,000   8,921,000,000   8,977,000,000     1

[79 rows x 10 columns]

In [86]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data, specifying that the first column is the index
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path, index_col=0)

# Reset the index to make the index column a regular column
df.reset_index(inplace=True)

# Rename the index column to 'Category' (or any appropriate name)
df.rename(columns={'index': 'Category'}, inplace=True)

# Step 2: Identify the first column (which is now 'Category')
first_column_name = 'Category'

# Step 3: Sort data by the first column in ascending order (oldest to newest)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# Step 6: Reset the index to make the index column a regular column
df_transposed.reset_index(inplace=True)

# Rename the 'index' column to 'Year' (since it now contains year data)
df_transposed.rename(columns={'index': 'Year'}, inplace=True)

# Step 7: Assign df_transposed to df_final and then sort by 'Sort' column if needed
df_final = df_transposed.copy()

# If you need to sort the DataFrame using the 'Sort' column
df_final.sort_values(by='Sort', ascending=False, inplace=True)

# Step 8: Drop the 'Sort' column if it's no longer needed
df_final.drop(columns=['Sort'], inplace=True)

# Diagnostic Display to check columns in df_final
print("Columns in df_final:", df_final.columns)

# Final Diagnostic Display
print("Final DataFrame:")
print(df_final)

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Category,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Columns in df_final: Index(['Year', '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31'], dtype='object', name='Category')
Final DataFrame:
Category                                              Year      2020-12-31  \
0                                   Ordinary Shares Number   1,400,000,000
1                                             Share Issued   1,400,000,000
2                                                 Net Debt  89,902,000,000
3                                               Total Debt 110,863,000,000
4                                      Tangible Book Value  39,810,000,000
..                                                     ...             ...
74        Cash Cash Equivalents And Short Term Investments  29,038,000,000
75                            Other Short Term Investments   9,046,000,000
76                               Cash And Cash Equivalents  19,992,000,000
77                                        Cash Equivalents  11,982,000,000
78                                          Cash Financial   8,010,000,000

Category      2021-12-31      2022-12-31      2023-12-31
0          1,500,000,000   1,400,000,000   1,200,000,000
1          1,500,000,000   1,400,000,000   1,200,000,000
2         89,312,000,000  95,546,000,000 102,888,000,000
3        110,391,000,000 115,666,000,000 122,648,000,000
4         54,671,000,000  62,858,000,000  59,445,000,000
..                   ...             ...             ...
74        28,676,000,000  31,303,000,000  26,466,000,000
75         8,609,000,000  12,150,000,000   7,613,000,000
76        20,067,000,000  19,153,000,000  18,853,000,000
77        12,186,000,000  10,231,000,000   9,875,000,000
78         7,881,000,000   8,921,000,000   8,977,000,000

[79 rows x 5 columns]

In [87]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Identify the first column (which has a blank header)
first_column_name = df.columns[0]

# Step 3: Sort data by the first column in ascending order (oldest to newest)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# **Step 6: Diagnostic display before sorting**
print("Step 6 - Diagnostic: DataFrame before sorting:")
display(df_transposed.head())

# **Step 7: Sort the DataFrame by 'Sort' column in ascending order**
df_transposed_sorted = df_transposed.sort_values(by='Sort', ascending=True)

# Diagnostic Display after sorting
print("Step 7 - Diagnostic: DataFrame after sorting:")
display(df_transposed_sorted.head())

# **Step 8: Assign the sorted DataFrame to df_final**
df_final = df_transposed_sorted.copy()

# Optional: Drop the 'Sort' column if you no longer need it
df_final.drop(columns=['Sort'], inplace=True)

# Final Diagnostic Display
print("Final DataFrame:")
display(df_final)

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Step 6 - Diagnostic: DataFrame before sorting:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Step 7 - Diagnostic: DataFrame after sorting:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Cash Financial,"8,010,000,000","7,881,000,000","8,921,000,000","8,977,000,000",1
Cash Equivalents,"11,982,000,000","12,186,000,000","10,231,000,000","9,875,000,000",2
Cash And Cash Equivalents,"19,992,000,000","20,067,000,000","19,153,000,000","18,853,000,000",3
Other Short Term Investments,"9,046,000,000","8,609,000,000","12,150,000,000","7,613,000,000",4
Cash Cash Equivalents And Short Term Investments,"29,038,000,000","28,676,000,000","31,303,000,000","26,466,000,000",5

Final DataFrame:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31
Cash Financial,"8,010,000,000","7,881,000,000","8,921,000,000","8,977,000,000"
Cash Equivalents,"11,982,000,000","12,186,000,000","10,231,000,000","9,875,000,000"
Cash And Cash Equivalents,"19,992,000,000","20,067,000,000","19,153,000,000","18,853,000,000"
Other Short Term Investments,"9,046,000,000","8,609,000,000","12,150,000,000","7,613,000,000"
Cash Cash Equivalents And Short Term Investments,"29,038,000,000","28,676,000,000","31,303,000,000","26,466,000,000"
...,...,...,...,...
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000"
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000"
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000"
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"

In [92]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Step 1: Load the data
file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
df = pd.read_csv(file_path)

# Step 2: Identify the first column (which has a blank header)
first_column_name = df.columns[0]

# Step 3: Sort data by the first column in ascending order (oldest to newest)
df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

# Step 4: Transpose the sorted DataFrame
df_transposed = df.set_index(first_column_name).T

# Step 5: Add a helper column with incremental values for sorting
df_transposed['Sort'] = range(len(df_transposed), 0, -1)

# Diagnostic Display to check the structure after adding 'Sort'
print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
display(df_transposed.head())

# Step 6: Diagnostic display before sorting
print("Step 6 - Diagnostic: DataFrame before sorting:")
display(df_transposed.head())

# Step 7: Sort the DataFrame by 'Sort' column in ascending order
df_transposed_sorted = df_transposed.sort_values(by='Sort', ascending=True)

# Diagnostic Display after sorting
print("Step 7 - Diagnostic: DataFrame after sorting:")
display(df_transposed_sorted.head())

# Step 8: Assign the sorted DataFrame to df_final
df_final = df_transposed_sorted.copy()

# Optional: Drop the 'Sort' column if you no longer need it
df_final.drop(columns=['Sort'], inplace=True)

# Final Diagnostic Display
print("Final DataFrame:")
display(df_final)

df_final.index.name = 'Category'

# Step 9: Save the final DataFrame to a CSV file
output_file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/processed/complete_balance_sheet.csv'
df_final.to_csv(output_file_path, index=True)  # Set index=True to keep the 'Category' index

Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Step 6 - Diagnostic: DataFrame before sorting:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",79
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000",78
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000",77
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000",76
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000",75

Step 7 - Diagnostic: DataFrame after sorting:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31,Sort
Cash Financial,"8,010,000,000","7,881,000,000","8,921,000,000","8,977,000,000",1
Cash Equivalents,"11,982,000,000","12,186,000,000","10,231,000,000","9,875,000,000",2
Cash And Cash Equivalents,"19,992,000,000","20,067,000,000","19,153,000,000","18,853,000,000",3
Other Short Term Investments,"9,046,000,000","8,609,000,000","12,150,000,000","7,613,000,000",4
Cash Cash Equivalents And Short Term Investments,"29,038,000,000","28,676,000,000","31,303,000,000","26,466,000,000",5

Final DataFrame:

Unnamed: 0,2020-12-31,2021-12-31,2022-12-31,2023-12-31
Cash Financial,"8,010,000,000","7,881,000,000","8,921,000,000","8,977,000,000"
Cash Equivalents,"11,982,000,000","12,186,000,000","10,231,000,000","9,875,000,000"
Cash And Cash Equivalents,"19,992,000,000","20,067,000,000","19,153,000,000","18,853,000,000"
Other Short Term Investments,"9,046,000,000","8,609,000,000","12,150,000,000","7,613,000,000"
Cash Cash Equivalents And Short Term Investments,"29,038,000,000","28,676,000,000","31,303,000,000","26,466,000,000"
...,...,...,...,...
Tangible Book Value,"39,810,000,000","54,671,000,000","62,858,000,000","59,445,000,000"
Total Debt,"110,863,000,000","110,391,000,000","115,666,000,000","122,648,000,000"
Net Debt,"89,902,000,000","89,312,000,000","95,546,000,000","102,888,000,000"
Share Issued,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"
Ordinary Shares Number,"1,400,000,000","1,500,000,000","1,400,000,000","1,200,000,000"

In [7]:
# Jupyter Notebook: Balance Sheet Transformation Test

from scripts.data_preprocessing.financial_statement_transformer import FinancialStatementTransformer

# Initialize the transformer for balance sheet
transformer = FinancialStatementTransformer("balance_sheet")

# Step 1: Load Data
transformer.load_data()  # Loads the raw balance sheet data from the specified file
print("Raw Data:")
display(transformer.df.head())

# Step 2: Transform Data
transformer.transform_data()  # Applies sorting, transposing, and other transformations
print("Transformed Data:")
display(transformer.df.head())

# Step 3: Validate Transformation (Optional)
# Perform any validation checks you need to ensure transformations worked correctly

# Step 4: Inspect Tagged Data (Optional)
transformer.tag_data()  # Applies tagging logic using the line item dictionary
print("Tagged Data:")
display(transformer.df.head())

ModuleNotFoundError: No module named 'fuzzywuzzy'

In [10]:
conda install -c anaconda ipykernel
python -m ipykernel install --user --name=<your_env_name> --display-name "Python (<your_env_name>)"

SyntaxError: invalid syntax (2002231578.py, line 1)

In [11]:
!pip install fuzzywuzzy python-Levenshtein

Collecting fuzzywuzzy

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Using cached fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Collecting python-Levenshtein
  Using cached python_Levenshtein-0.26.1-py3-none-any.whl.metadata (3.7 kB)
Collecting Levenshtein==0.26.1 (from python-Levenshtein)
  Using cached levenshtein-0.26.1-cp311-cp311-win_amd64.whl.metadata (3.2 kB)
Collecting rapidfuzz<4.0.0,>=3.9.0 (from Levenshtein==0.26.1->python-Levenshtein)
  Using cached rapidfuzz-3.10.1-cp311-cp311-win_amd64.whl.metadata (11 kB)
Using cached fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Using cached python_Levenshtein-0.26.1-py3-none-any.whl (9.4 kB)
Using cached levenshtein-0.26.1-cp311-cp311-win_amd64.whl (98 kB)
Using cached rapidfuzz-3.10.1-cp311-cp311-win_amd64.whl (1.6 MB)
Installing collected packages: fuzzywuzzy, rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.26.1 fuzzywuzzy-0.18.0 python-Levenshtein-0.26.1 rapidfuzz-3.10.1

In [13]:
conda activate <financial_modeling>
pip install ipykernel
python -m ipykernel install --user --name=<financial_modeling> --display-name "Python (<financial_modeling>)"

SyntaxError: invalid syntax (662928005.py, line 1)

In [94]:
import pandas as pd

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

# Define the file paths
input_file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
output_file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/processed/complete_balance_sheet_alt.csv'

# Step 1: Load the data and set the first column as the index
df = pd.read_csv(input_file_path, index_col=0)

# Step 2: Assign a name to the index
df.index.name = 'Category'

# Step 3: Sort the DataFrame by the index (financial categories)
df.sort_index(inplace=True)

# Step 4: Convert the column headers (dates) to datetime objects and sort them
# This ensures the date columns are in chronological order
df.columns = pd.to_datetime(df.columns, errors='coerce')

# Drop any columns that couldn't be converted to datetime (if any)
df = df.loc[:, df.columns.notnull()]

# Sort the columns (dates) in ascending order
df = df.reindex(sorted(df.columns), axis=1)

# Optional: If you want the dates formatted back to strings in a specific format
# For example, formatting dates as 'YYYY-MM-DD'
df.columns = df.columns.strftime('%Y-%m-%d')

# Step 5: Save the processed DataFrame to a CSV file
df.to_csv(output_file_path, index=True)

C:\Users\jklei\AppData\Local\Temp\ipykernel_46680\3219071353.py:21: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.columns = pd.to_datetime(df.columns, errors='coerce')

In [ ]:
import pandas as pd
from tabulate import tabulate

# Disable scientific notation globally
pd.options.display.float_format = '{:,.0f}'.format

def main():
    # Step 1: Load the data
    file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/raw/balance_sheet.csv'
    df = pd.read_csv(file_path)

    # Step 2: Identify the first column (which has a blank header)
    first_column_name = df.columns[0]

    # Step 3: Sort data by the first column in ascending order (alphabetically)
    df = df.sort_values(by=first_column_name, ascending=True).reset_index(drop=True)

    # Step 4: Transpose the sorted DataFrame
    df_transposed = df.set_index(first_column_name).T

    # Step 5: Add a helper column with incremental values for sorting
    df_transposed['Sort'] = range(len(df_transposed), 0, -1)

    # Diagnostic Display to check the structure after adding 'Sort'
    print("Step 5 - Diagnostic: Transposed DataFrame with 'Sort' column added:")
    print(tabulate(df_transposed.head(), headers='keys', tablefmt='psql'))

    # Step 6: Diagnostic display before sorting
    print("\nStep 6 - Diagnostic: DataFrame before sorting:")
    print(tabulate(df_transposed.head(), headers='keys', tablefmt='psql'))

    # Step 7: Sort the DataFrame by 'Sort' column in ascending order
    df_transposed_sorted = df_transposed.sort_values(by='Sort', ascending=True)

    # Diagnostic Display after sorting
    print("\nStep 7 - Diagnostic: DataFrame after sorting:")
    print(tabulate(df_transposed_sorted.head(), headers='keys', tablefmt='psql'))

    # **Step 8: Clean up the DataFrame**

    # Create a copy of the sorted DataFrame
    df_final = df_transposed_sorted.copy()

    # Drop the 'Sort' column as it's no longer needed
    df_final.drop(columns=['Sort'], inplace=True)

    # Assign a name to the index
    df_final.index.name = 'Category'  # Set index name to 'Category'

    # Final Diagnostic Display
    print("\nFinal DataFrame:")
    print(tabulate(df_final.head(), headers='keys', tablefmt='psql'))

    # Step 9: Save the final DataFrame to a CSV file
    output_file_path = 'C:/Users/jklei/OneDrive - Convergix Automation/Documents/FinancialModeling_Project/data/processed/complete_balance_sheet.csv'
    df_final.to_csv(output_file_path, index=True)  # Set index=True to keep the 'Category' index

if __name__ == "__main__":
    main()

ModuleNotFoundError: No module named 'tabulate'

In [96]:
python

NameError: name 'python' is not defined

In [97]:
import os

file_path = r'C:\Users\jklei\OneDrive - Convergix Automation\Documents\FinancialModeling_Project\notebooks\scripts\data_ingestion\data_retrieval.py'
print(os.path.exists(file_path))

False

In [98]:
import os

directory = r'C:\Users\jklei\OneDrive - Convergix Automation\Documents\FinancialModeling_Project\notebooks\scripts\data_ingestion'
print(os.listdir(directory))

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\jklei\\OneDrive - Convergix Automation\\Documents\\FinancialModeling_Project\\notebooks\\scripts\\data_ingestion'

In [99]:
import os

output_folder = './data/raw'
print(os.path.exists(output_folder))

False

In [1]:
# PowerShell script to list connected USB devices
Get-WmiObject -Query "SELECT * FROM Win32_USBHub WHERE DeviceID LIKE 'USB%'"

# Alternatively, you can use the following command to get detailed information
Get-WmiObject -Query "SELECT * FROM Win32_USBControllerDevice" | Select-Object DeviceID, Name, Manufacturer, PNPDeviceID

SyntaxError: invalid syntax (1011130103.py, line 2)

In [2]:
import sys
import os
import logging

# Adjust sys.path to include project root
current_dir = os.path.dirname(os.path.abspath(__file__))
project_root = current_dir
sys.path.append(project_root)

# Configure logging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s'
)
logger = logging.getLogger(__name__)

# Import scripts
from scripts.data_ingestion.data_retrieval import main as data_retrieval_main
from scripts.data_preprocessing.balance_sheet_transformation import BalanceSheetTransformer
from scripts.data_preprocessing.income_statement_transformation import IncomeStatementTransformer
from scripts.data_preprocessing.cash_flow_transformation import CashFlowTransformer
from scripts.utilities.data_transformation_utils import get_data_paths

def run_data_ingestion():
    """Run the data ingestion process."""
    logger.info("Starting data ingestion...")
    data_retrieval_main()
    logger.info("Data ingestion completed.")

def run_data_preprocessing():
    """Run the data preprocessing for each financial statement."""
    logger.info("Starting data preprocessing...")
    BalanceSheetTransformer().transform()
    IncomeStatementTransformer().transform()
    CashFlowTransformer().transform()
    logger.info("Data preprocessing completed.")

def main():
    """Main execution workflow."""
    try:
        # Validate directories
        raw_data_dir, processed_data_dir = get_data_paths()
        for directory in [raw_data_dir, processed_data_dir]:
            if not os.path.exists(directory):
                os.makedirs(directory)
                logger.info(f"Created missing directory: {directory}")

        # Run processes
        run_data_ingestion()
        run_data_preprocessing()

        # Note: Scenario analysis and sensitivity analysis are placeholders and not executed yet.
        logger.info("Main workflow completed successfully.")
    except Exception as e:
        logger.exception(f"An error occurred in the main execution: {e}")

if __name__ == "__main__":
    main()

NameError: name '__file__' is not defined

In [5]:
import sys
import os
import logging

# Use the current working directory in Jupyter
current_dir = os.getcwd()  # This gets the current working directory
project_root = current_dir  # Adjust if the project root is elsewhere
sys.path.append(project_root)

# Configure logging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s'
)
logger = logging.getLogger(__name__)

# Import scripts
from scripts.data_ingestion.data_retrieval import main as data_retrieval_main
from scripts.data_preprocessing.balance_sheet_transformation import BalanceSheetTransformer
from scripts.data_preprocessing.income_statement_transformation import IncomeStatementTransformer
from scripts.data_preprocessing.cash_flow_transformation import CashFlowTransformer
from scripts.utilities.data_transformation_utils import get_data_paths

def validate_directories():
    """Ensure that required directories exist."""
    raw_data_dir, processed_data_dir = get_data_paths()
    for directory in [raw_data_dir, processed_data_dir]:
        if not os.path.exists(directory):
            os.makedirs(directory)
            logger.info(f"Created missing directory: {directory}")
    return raw_data_dir, processed_data_dir

def run_data_ingestion():
    """Run the data ingestion process."""
    logger.info("Starting data ingestion...")
    try:
        data_retrieval_main()
        logger.info("Data ingestion completed.")
    except Exception as e:
        logger.exception(f"Error during data ingestion: {e}")

def run_data_preprocessing():
    """Run the data preprocessing for each financial statement."""
    logger.info("Starting data preprocessing...")
    try:
        BalanceSheetTransformer().transform()
        IncomeStatementTransformer().transform()
        CashFlowTransformer().transform()
        logger.info("Data preprocessing completed.")
    except Exception as e:
        logger.exception(f"Error during data preprocessing: {e}")

def main():
    """Main execution workflow."""
    try:
        # Validate directories
        validate_directories()

        # Run processes
        run_data_ingestion()
        run_data_preprocessing()

        logger.info("Main workflow completed successfully.")
    except Exception as e:
        logger.exception(f"An error occurred in the main execution: {e}")

if __name__ == "__main__":
    main()

ModuleNotFoundError: No module named 'scripts.data_ingestion'

In [6]:
from scripts.data_ingestion.data_retrieval import main as data_retrieval_main
print("Module imported successfully!")

ModuleNotFoundError: No module named 'scripts.data_ingestion'

In [7]:
from path_setup import setup_project_paths
project_root = setup_project_paths()
print(f"Project root added to sys.path: {project_root}")

ModuleNotFoundError: No module named 'path_setup'